﻿@using BBH.Lotte.CMSAdmin.Models;
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" onclick="ToggleSubMenu()" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> @Session[SessionKey.SESSION_USERNAME]</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @*<li><a href="">Profile</a></li>*@
                @*<li class="divider"></li>*@
                <li><a href="javascript:void(0)" onclick="ExistsMember()">Logout</a></li>
            </ul>
        </div>
        
        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
           
            <li>
                <div>
                    <h4><a class="ajax-link" href="/" style="color:#fff;font:bold;text-decoration: none;"><i class="glyphicon glyphicon-home" style="margin-right:10px"></i>LOTTE ADMIN CMS</a></h4>
                </div>
                
            </li>
        </ul>
    </div>
</div>
<script src="/Scripts/login/login.js"></script>