﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/awardmegaball" title="@ViewBag.TotalNewAward new Award Megaball." class="well top-block" href="#">
        <i class="glyphicon glyphicon-gift red"></i>
        <div>Total Award Megaball</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllAward)</div>
        <span class="notification red">@ViewBag.TotalNewAward</span>
    </a>
</div>