﻿
<div class="panel-block">
    <div class="title">TICKET SOLD</div>
    <div class="row">
        <div style="padding-left: 15px;"><strong>@DateTime.Now.Year</strong></div>
        <div class="col-sm-6 col-xs-12">
            <table class="table-v2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>Ticket</th>
                        <th>Free</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["ListTicket"] != null)
                {
                    IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary> lstTicket = (IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary>)ViewData["ListTicket"];
                    if (lstTicket != null && lstTicket.Count() > 0)
                    {
                        int i = 1;
                        foreach (BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary item in lstTicket)
                        {
                            string month = string.Empty;
                            switch (item.Month)
                            {
                                case 1:
                                    {
                                        month = "JAN";
                                        break;
                                    }
                                case 2:
                                    {
                                        month = "FEB";
                                        break;
                                    }
                                case 3:
                                    {
                                        month = "MAR";
                                        break;
                                    }
                                case 4:
                                    {
                                        month = "APR";
                                        break;
                                    }
                                case 5:
                                    {
                                        month = "MAY";
                                        break;
                                    }
                                case 6:
                                    {
                                        month = "JUN";
                                        break;
                                    }
                                case 7:
                                    {
                                        month = "JUL";
                                        break;
                                    }
                                case 8:
                                    {
                                        month = "AUG";
                                        break;
                                    }
                                case 9:
                                    {
                                        month = "SEP";
                                        break;
                                    }
                                case 10:
                                    {
                                        month = "OCT";
                                        break;
                                    }
                                case 11:
                                    {
                                        month = "NOV";
                                        break;
                                    }
                                case 12:
                                    {
                                        month = "DEC";
                                        break;
                                    }

                            }
                            <tr>
                                <td>@i</td>
                                <td>@month</td>
                                <td>@item.TotalTicket</td>
                                <td>@item.TotalTicketFree</td>
                            </tr>
                        i++;
                    }
                }
            }



                </tbody>

            </table>
            <div style="padding-top:10px"> <span>Total: </span><strong style="padding-left:20px">@ViewBag.TotalTicket</strong></div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="box-content">
                <div id="ticket" class="center" style="height:450px"></div>
                <p id="hoverdata">
                    @*Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span>*@
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    if ($("#ticket").length) {
        var ticket = [], free = [];

        //for (var i = 0; i < 13; i += 1) {
        //    ticket.push([i, 300]);
        //    free.push([i, 5]);
        //}
        $.ajax({
            type: "get",
            async: false,
            url: "/Home/GetDataTicketSummary",
            beforeSend: function () {
               
            },
            success: function (d) {
                if (d != null && d != "") {
                    var jsonObject = JSON.parse(d);
                    if (jsonObject != null) {
                        for (var i = 0; i <= jsonObject.length; i++) {
                            var month = '';
                            switch (i) {
                                case 1:
                                    {
                                        month = "JAN";
                                        break;
                                    }
                                case 2:
                                    {
                                        month = "FEB";
                                        break;
                                    }
                                case 3:
                                    {
                                        month = "MAR";
                                        break;
                                    }
                                case 4:
                                    {
                                        month = "APR";
                                        break;
                                    }
                                case 5:
                                    {
                                        month = "MAY";
                                        break;
                                    }
                                case 6:
                                    {
                                        month = "JUN";
                                        break;
                                    }
                                case 7:
                                    {
                                        month = "JUL";
                                        break;
                                    }
                                case 8:
                                    {
                                        month = "AUG";
                                        break;
                                    }
                                case 9:
                                    {
                                        month = "SEP";
                                        break;
                                    }
                                case 10:
                                    {
                                        month = "OCT";
                                        break;
                                    }
                                case 11:
                                    {
                                        month = "NOV";
                                        break;
                                    }
                                case 12:
                                    {
                                        month = "DEC";
                                        break;
                                    }
                            }
                            var j = i + 1;
                            ticket.push([j, jsonObject[i].TotalTicket]);
                            free.push([j, jsonObject[i].TotalTicketFree]);
                        }
                    }
                }
            }
        });
        var plot = $.plot($("#ticket"),
            [
                { data: ticket, label: "Ticket" },
                { data: free, label: "Ticket free" }
            ], {
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                grid: { hoverable: true, clickable: true, backgroundColor: { colors: ["#fff", "#eee"] } },
                yaxis: { min : 0, max: @ViewBag.MaxTicket },
                colors: ["#539F2E", "#3C67A5"]
            });

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#dfeffc',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#ticket").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(0));
            $("#y").text(pos.y.toFixed(0));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + " sold: " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });


        //$("#ticket").bind("plotclick", function (event, pos, item) {
        //    if (item) {
        //        $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
        //        plot.highlight(item.series, item.datapoint);
        //    }
        //});
    }

</script>