﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/bookingmegaball" title="@ViewBag.TotalNewBookingMegaball book new ticket." class="well top-block" >
        <i class="glyphicon glyphicon-shopping-cart yellow"></i>
        <div>Total Booking</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllBookingMegaball)</div>
        <span class="notification green">@ViewBag.TotalNewBookingMegaball</span>
    </a>
</div>