﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/member" title="@ViewBag.TotalNewMember new member." class="well top-block" href="#">
        <i class="glyphicon glyphicon-user blue"></i>
        <div>Total Member</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllMember)</div>
        <span class="notification">@ViewBag.TotalNewMember</span>
    </a>
</div>