﻿<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Total recieved BTC</div>
            <div class="number">@ViewBag.TotalBTC BTC</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Revenue</div>
            <div class="number">@ViewBag.TotalRevenue BTC</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Credit</div>
            <div class="number">@ViewBag.TotalCredit BTC</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Total Ticket Sold</div>
            <div class="number">@ViewBag.TotalTicket TICKET</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Pay for winner</div>
            <div class="number">@ViewBag.TotalPrize BTC</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card-panel">
            <div class="label">Jackpot fund</div>
            <div class="number">@ViewBag.TotalJackpot BTC</div>
        </div>
    </div>
</div>
