﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Manager Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/member" style="text-decoration: none;"><i class="glyphicon glyphicon-user"></i>  Manager Member</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-3">
                        <input type="text" onkeydown="return ProccessSearch(event,this.value)" class="form-control" placeholder="Input email" id="txtKeyword" name="txtKeyword">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="From date" id="txtFromDate" name="txtFromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchMember()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                        <button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcelMember()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List member</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>MemberID</th>
                                        <th>Email</th>
                                        @*<th>Full Name</th>*@
                                        <th>Create Date</th>
                                        <th>Points</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListMember">
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTMEMBER] != null)
                                    {
                                        IEnumerable<MemberBO> lstMember = (IEnumerable<MemberBO>)ViewData[ViewDataKey.VIEWDATA_LISTMEMBER];
                                        if (lstMember != null && lstMember.Count() > 0)
                                        {
                                            foreach (MemberBO member in lstMember)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (member.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                <tr id="trGroup_@member.MemberID" class="none-top-border">
                                                    @*<td class="center"><a onclick="ShowPopupDetailCompany('@member.MemberID')" data-toggle="modal" data-target="#standardModal">@member.MemberID</a></td>*@
                                                    <td class="center">@member.MemberID</td>
                                                    <td class="center">@member.Email</td>
                                                    @*<td class="center">@member.FullName</td>*@
                                                    <td class="center">@member.CreateDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                                    <td class="center">@string.Format("{0:0,0}", member.Points)</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        @*<img src="/Images/loading.gif" id="imgLoading_@member.MemberID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">*@
                                                        @if (member.IsActive == 0)
                                                        {
                                                            <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="LockAndUnlockMember('@member.MemberID','@member.IsActive')">
                                                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                                                @titleStatus
                                                            </a>
                                                        }
                                                        else if (member.IsActive == 1)
                                                        {
                                                            <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="LockAndUnlockMember('@member.MemberID','@member.IsActive')">
                                                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                                                @titleStatus
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @*<div id="divPaging" class="col-md-6">*@
                            @{Html.RenderAction("Index", "Paging");}
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@

<input type="hidden" id="hdMemberID" name="hdMemberID" value="0" />
<script src="/Scripts/jqueryui.js"></script>
<script type="text/javascript" src="/Scripts/member/member.js"></script>
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:1187px">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Company Infomation</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <div class="box-content">
                                    <table class="table table-striped table-bordered responsive">
                                        <thead>
                                            <tr>
                                                <th>MemberID</th>
                                                <th>CompanyName</th>
                                                <th>Adress</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Website</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyListCompanyInformation"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <br>

            </div>
            <!--Footer-->

        </div>
        <!--/.Content-->
    </div>
</div>

<script>
    $("#txtFromDate").datepicker({ dateFormat: 'mm/dd/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'mm/dd/yy' });
</script>