﻿
#frResetPassword .short {
    font-weight: bold;
    color: #FF0000;
    font-size: larger;
}

#frResetPassword .weak {
    font-weight: bold;
    color: orange;
    font-size: larger;
}

#frResetPassword .good {
    font-weight: bold;
    color: #2D98F3;
    font-size: larger;
}

#frResetPassword .strong {
    font-weight: bold;
    color: limegreen;
    font-size: larger;
}
