@import url(bootstrap.min.css);@import url(font-awesome.min.css);
a{text-decoration:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
body{color: #333;background-color:#fff;line-height:1.2;font-family: 'Open Sans', sans-serif;font-size:15px;}
strong{font-weight:700;}.wrapper img{max-width:100%;}.wrapper{font-size:15px;text-align:justify}
.navbar-toggle{border:none;padding:20px 25px;border-right:1px solid #b04c5a;border-left:1px solid #b04c5a;border-radius:0;margin:0;position:relative;display:none;float:right;}.navbar-toggle .icon-bar{background: #fff;display: block;width: 20px;height: 3px;border-radius: 1px;}.navbar-toggle .icon-bar+.icon-bar{margin-top:3px;}.navbar-nav{margin-top:0;margin-bottom:0;}.nav>li{background: #1a1a1a;border-bottom: 1px solid #292929;}.navbar-nav>li>a{color: #fff;font-size: 14px;}.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header{padding:8px 15px 8px 15px;}.dropdown-menu>li>a{color:#fff;}
.container{width:1200px}.container2{width:1100px}
#goTop {
    bottom: 25px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    position: fixed;
    right: 15px;
    background: #27a2db;
    color: #fff;
    font-size: 16px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.55);
}
    #goTop:hover {
        background: #27a2db
    }
/*header{
    padding:150px 0;color:#F00;background:url(../../../../Images/bg_04.jpg) center center no-repeat;text-align:center;
}*/
/*D:\Visual Studio 2013\BCC.BBH\BBH.Lotte.Project\BBH.Lotte.Web\Images\bg_04.jpg*/
.top-member{float:left;font-family: 'Roboto', sans-serif;letter-spacing:1.2px;}.top-member a{color:#fff;text-decoration:none;}.top-member a:hover{color:#adadad;}.top-member a strong{font-weight:500;}.header-search{float:right;position:relative;margin-bottom:20px;}.header-search input{height:36px;line-height:36px;color:#fcfcfc;border:1px solid #2f2f2f;background:#1b1b1b;padding:0 40px 0 15px;width:260px;outline:none;}.header-search button{font-size:18px;padding:0;position:absolute;right:7px;top:0;line-height:36px;outline:none;border:none;background:none;color:#fff;}
header a.logo{float:left;}header a.logo img{max-width:100%;}.shoping-cart{float:right;margin-right:220px;height:60px;width:60px;position:relative;line-height:40px;font-weight:400;background:#a53e4c;border-radius:50%;color:#fff;text-align:center;font-size:16px;margin-bottom:15px}.shoping-cart strong{font-weight:400;display:block;color:#000;z-index:1;position:relative}.shoping-cart:hover{text-decoration:none;}.shoping-cart:hover strong{color:#fff;text-decoration:none;}.shoping-cart strong:after{font-family:'FontAwesome';content:"\f07a";position:absolute;top:2px;color:#fff;font-size:72px;left:-9px;z-index:-1;line-height: 50px;-webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);-now-text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-in-out;transition-timing-function: ease-in-out;}.shoping-cart:hover strong:after{-webkit-transform: rotate(360deg);transform: rotate(360deg);color:#85919d;}
.navbar-desktop{background-image:url(../../../../Images/home_01.jpg);color:#fff;-webkit-box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);-moz-box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);box-shadow: inset 0px 3px 4px rgba(0,0,0,0.3);font-family: 'Roboto', sans-serif;letter-spacing:1.2px;}.navmenu label{float:left;line-height:56px;font-size:17px;font-weight:600;text-transform:uppercase;display:none;margin:0}
.slideshow{margin-bottom:30px;clear:both;}.slidecontent{text-align:center;position:absolute;left:50%;margin-left:-310px;width:620px;top:30%;color:#fff;font-size:20px;text-shadow:0 1px 0 rgba(0,0,0,0.6);}.slidecontent>h2{text-transform:uppercase;font-family: 'Roboto', sans-serif;font-size:32px;margin:0;margin-bottom:12px;font-weight:500;}.slidecontent-sub{font-weight:300;margin-bottom:20px;}.owl-controls{display:none;}.view-detail{display:inline-block;height:40px;line-height:40px;padding:0 30px;text-transform:uppercase;color:#fff;background:#a53e4c;font-size:15px;-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.4);-moz-box-shadow:0px 0px 3px 0px rgba(50, 50, 50, 0.4);box-shadow:0px 0px 3px 0px rgba(50, 50, 50, 0.4);}.view-detail:hover{text-decoration:none;color:#fdd471}
.brand-list{margin-left:-1px;margin-bottom:30px;width:1200px}.brand-list .owl-item{padding-left:1px;overflow:hidden;}.brand-list .item{display:table;text-align:center;padding:8px;background:#e1e1e1;width:250px;transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-moz-transform: scale(1);-webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out;}.brand-list .item a{background:#e1e1e1;display:table-cell;vertical-align:middle;height:129px;width:300px}.brand-list .item a img{max-width:200%;max-height:100%;}.brand-list .item:hover{background: #fff;-moz-transition: all 0.4s ease 0s;-webkit-transition: all 0.4s ease 0s;-o-transition: all 0.4s ease 0s;-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);z-index: 2;transform: scale(1.04);-webkit-transform: scale(1.04);-o-transform: scale(1.04);-moz-transform: scale(1.04);-webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out;}
section.section-page{padding-top:30px;padding-bottom:30px;}.col-adv{margin-bottom:30px;}.adv-thumb{display:block;overflow:hidden;height:470px;position:relative;}.adv-thumb:after{position:absolute;content:"";width:0;height:100%;left:50%;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;background-color:rgba(255,255,255,0.4)}.col-adv:hover .adv-thumb:after{width:100%;left:0;}.adv-thumb img{width:100%;min-height:100%;}.adv-title{display:block;background:#fff;height:160px;overflow:hidden;padding:30px 10px 25px 10px;text-align:center;font-family: 'Roboto', sans-serif;color:#000;text-transform:uppercase;letter-spacing:1.2px;}.adv-title span{display:block;overflow:hidden;white-space:nowrap;font-size:24px;text-transform:uppercase;line-height:45px;}.adv-title strong{font-size:42px;line-height:55px;overflow:hidden;white-space:nowrap;font-weight:400;display:block;}.col-adv:hover .adv-title{background:#a53e4c;text-decoration:none;color:#fff;}.adv-title-mobile{display:none;}
.center-adv{margin-bottom:30px;overflow:hidden;max-height:340px;text-align:center;-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.45);-moz-box-shadow:0px 0px 4px 0px rgba(50, 50, 50, 0.45);box-shadow:0px 0px 4px 0px rgba(50, 50, 50, 0.45);-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}.center-adv img{max-width:100%;}.center-adv:hover{-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 7px 0px rgba(50, 50, 50, 0.55);}
.page-title{margin-top:15px;margin-bottom:15px;text-transform:uppercase;font-size:18px;font-family: 'Roboto', sans-serif;color:#666;font-weight:700;line-height:40px;float:left inherit;margin-left:20px}
.product-col{margin-bottom:20px;}.product-thumb{display:table-cell;text-align:center;vertical-align:top;overflow:hidden;background:#fff;height:40%;width:100%;padding:5px}.product-thumb img{max-height:70%;max-width:100%;}.product-content{position:relative;display:table;width:100%;text-align:center;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;background:#fff;}

.product-thumb1{display:table-cell;vertical-align:top;overflow:hidden;background:#fff;height:100%;width:100%;padding:0px}.product-thumb1 img{max-height:100%;max-width:100%;}.product-content1{position:relative;display:table;width:100%;-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;background:#fff;}

						/*================================html PSD===================================*/
 /*Banner*/
/* @media only screen and (min-width: 320px) and (max-width: 860px){
/*.banner{margin:0;padding:0;max-width:100%;height:auto;background-color:#d12f3e;}*/
/*.sun_hide{background-image:url(../../../../Images/banner_patern.png);margin:auto;width:1100px;height:535px;z-index:1}*/
/*.info_money{ width:700px; height:300px; background-image:url(../../../../Images/time_board.png); background-repeat:no-repeat;margin:auto;position:absolute;z-index:2;top:223px;left:320px}.date{color:#d32e3e;margin-top:53px;font-size:20px;margin-left:220px}*/
/*.money{color:#f53243; font-size:85px;font-family:"Times New Roman", Times, serif; margin-left:65px;margin-top:-30px}
.time{width:100%; text-align:center; color:#fff;}.next{width:30px;float:left;margin-left:200px; color:#fff}
.draw{width:30px;float:left;margin-left:200px;color:#fff}.time_1{float:left; margin-left:40px;font-size:46px;margin-top:-18px}
 .btn_playnow{background-image:url(../../../../Images/bt_playnow.png);z-index:3;margin:auto;width:420px;height:68px;background-repeat::no-repeat;top:450px;position:relative}*/
 

main-wrapper {
    padding: 0 0 0 0;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

 @media only screen and (min-width: 320px) and (max-width: 2500px){

     /*.banner{margin:0;padding:0;max-width:100%;z-index:1;height:535px;background-image:url(../../../../Images/banner12.jpg);background-position:center center}
     .banner-center{height:200px;width:700px;background-color:#f6b559;border:1px}
     .baner1{margin-top:0px;width:200px;height:200px;z-index:99;background-color:#a53e4c}
    
.date{color:#d32e3e;margin-top:0px;font-size:20px;margin-left:220px;width: 40%;}
.money{color:#f53243; font-size:85px;font-family:"Times New Roman", Times, serif; margin-left:13%;margin-top:28%;width:73%;}
.time{width:100%; text-align:center; color:#fff;}.next{width:30px;float:left;margin-left:200px; color:#fff}
.draw{width:30px;float:left;margin-left:200px;color:#fff}.time_1{float:left; margin-left:40px;font-size:46px;margin-top:-18px}*/
	.banner{margin:0;padding:0;max-width:100%;height:535px;width:100%;margin-top:-7px;
            /*background-color:#d12f3e;*/
            /*background-image:url(../../../../Images/hinhnen.jpg);
            background-position:center center;
            background-repeat:no-repeat;
            background-size:cover;*/
	}
/*.sun_hide{background-image:url(../../../../Images/hinhnen2.jpg);margin:auto;width:80%;height:535px;z-index:1;background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}*/

/*.date{color:#d32e3e;margin-top:53px;font-size:20px;margin-left:220px;}*/
.ngay{color:#d32e3e;margin-top:64px;font-size:20px;margin-left:245px;width: 40%;}
.money{color:#f53243; font-size:85px;font-family:"Times New Roman", Times, serif; margin-left:13%;margin-top:1%;}
.time{width:100%; text-align:center; color:#fff;font-size: 42px}.next{width:30px;float:left;margin-left:200px; color:#fff;margin-top:28px}
.draw{width:30px;float:left;margin-left:200px;color:#fff}.time_1{float:left; margin-left:34%;font-size:46px;margin-top:19px}
 .btn_playnow{background-image:url(../../../../Images/bt_playnow.png);z-index:3;margin:auto;width:420px;height:68px;background-repeat:no-repeat;position:relative;margin-top:4%}
    .btn_playnow:hover{background-clip:content-box; z-index:99}

    .btn_playnow:hover {
        animation: shake 2s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    } 
	 }
 .info_money{ 
    width:100%;
    
         padding: 12% 0 0 12%;
}
@media only screen and (min-width: 320px)  {
    .info_money{ 
    width:100%;
    
         padding: 12% 0 0 12%;
}
}

/*@media (min-width: 992px) {
    .info_money {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .info_money {
        width: 750px;
    }
}*/

 /*===========Banner ABOUT===============*/
  @media only screen and (min-width: 320px) and (max-width: 1500px){
 /*.banner_about{padding:0;max-width:100%;height:250px;background-color: #d12f3e;
    margin: 53px 0 0 0;}
.sun_hide_about{background-image:url(../../../../Images/nen_background.png);
                margin: auto;
    width: 74%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; }*/
/*.time_about{width:62%; text-align:left;height:100%;top:220px;left:37%; z-index:2;position:absolute; color:#fff;background-image:url(../../../../Images/11.png);background-repeat:no-repeat}*/
.time_about{
    width:62%; text-align:left;height:100%;top:220px;left:37%;
     z-index:2;position:absolute; color:#fff;
     /*background-image:url(../../../../Images/11.png);
     background-repeat:no-repeat*/

}
 .next_about{width:30px;float:left;margin-left:30px; margin-top:15px; color:#fff}
.draw_about{width:30px;float:left;margin-left:-30px; margin-top:15px; color:#fff}.time_1_about{float:left; margin-left:40px;font-size:46px;margin-top:-4px}
}
 /*slider*/
/* @media all and (max-width: 480px){*/

 .slider1{width:100%;width:460px; height:270px; background-image:url(../../../../Images/nenxanh1.jpg);float:left;color:#FFF;background-repeat:no-repeat}
 .date1{color:#fff;margin-left:9%;margin-top:8%}
.number{margin-left:40px;margin-top:20px;margin-bottom:20px;overflow:auto;font-size:25px}.num1,.num2,.num3,.num4,.num5,.num6{-moz-border-radius: 100px; -webkit-border-radius: 100px;border-radius: 100px;border-color:#f6b559;border:1px solid #f6b559;width:50px;height:50px;color:#f6b559;text-align:center; display:inherit;float:left;margin:5px}
 .content1{margin-left:40px;margin-bottom:10px;color:#fff}
 .content22{margin-left:40px;margin-bottom:10px;color:#fff;height:50px;width:152px}
 .slider2{width:100%;width:460px; height:270px; background-image:url(../../../../Images/nenxanh_tuitien_cat.jpg);float:left;color:#FFf;background-repeat:no-repeat}
 .caption{color:#fff;margin-left:40px;margin-top:40px}
.number2{margin-left:50px;margin-top:10px;margin-bottom:10px;}.num11{color:#f6b559;font-size:50px}
  
 .slider3{width:100%;width:470px; height:270px; background-image:url(../../../../Images/nenxanh_tuitien2_cat1.jpg);float:left;color:#FFF;background-repeat:no-repeat}
 .caption{color:#fff;margin-left:40px;margin-top:40px}
 .row11{overflow:auto;margin-top:1.5%;margin-bottom:5px;float:left;margin-left:15px}.col11{float:left;width:120px}.col41{float:left;margin-left:-10px}.col31{float:left;width:93px;margin-right:78px}.col21{float:left;color:#f6b559;width:70px;margin-left:13px;display:inherit;margin-right:20px}
 
/*.row11{overflow:auto;margin-left:20px;float:left;margin-top:5px;margin-bottom:5px}.col1,.col4,.col3,.col4{float:left;width:80px;margin-left:13px}
*//* ===========Image_player=========*/

.info_player{height:290px;background-image:url(../../../../Images/face_background.jpg);z-index:1;background-repeat: no-repeat;}
.image{width:100%;}
.infor_name{width:200px;height:auto;margin-left:30px}.player_name{margin:auto;font-size:16px;color:#000;margin-top:20px}

 /* ===========Image_player=========*/
/*@media(max-width: 1439px) {
    .prizes {
        height: 275px;
    }
    .prizes{height:334px}
    .prizes-item {
        width: 33.33%;
        height: 100%;
        float: left;
        position: relative;
        z-index: 1;
        background-image:url(../../../../Images/nenxanh1.jpg);
        background-repeat:no-repeat;
    }
    .prizes-item{padding:30px 20px 0 !important}

    .prev-results{padding:67px 0 0 60px}
    @media (max-width: 1439px) {
        .prizes-item .title {
            margin: 0 0 20px 0;
        }
    }

    @media (max-width: 1439px) {
        .prizes .title {
            font-size: 14px;
        }
    }

    .prizes-item .title {
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .25px;
        margin: 0 0 32px 0;
    }
    .prizes-item .lottery-date{font-weight:900}
    .prizes-item .lottery-result{margin:0 0 29px 0}
    .prizes-item .lottery-result li{font-weight:700;color:#fff}
    .prizes-item .link-arrow{font-weight:500;letter-spacing:.5px;line-height:27px}
   .prize-fond-value{font-weight:100;font-size:60px;line-height:60px;margin:0 0 28px 0;color:#f6b559}
   .prizes-item .title{font-weight:300;color:#fff;text-transform:uppercase;letter-spacing:.25px;margin:0 0 32px 0}
   .prizes-item .title{float:none;margin-bottom:9px}
   .lottery-result li{width:50px;height:50px;line-height:48px;font-size:16px}
   .prizes-item .lottery-result li{width:42px;height:42px;line-height:40px}
   .prizes-item .link-arrow span{font-size:14px;line-height:16px}
   .prizes .title{font-size:14px;line-height:14px}
   lottery-result li:last-of-type{background-color:#f6b559;border:2px solid #f6b559}
    @media (max-width: 1439px) {
        .lottery-result li {
            width: 50px;
            height: 50px;
            line-height: 48px;
            font-size: 16px;
        }
    }
    ul li, ol li {
    list-style: none;
}
    li {
    display: list-item;
    
}
    .lottery-result li {
    border: 2px solid #f6b559;
   
    float: left;
    text-align: center;
    margin: 0 4px 0 0;

    border-radius: 30px;
}
    .lottery-result li:last-of-type {
    background-color: #f6b559;
    border: 2px solid #f6b559;
}
    @media (max-width: 1439px) {
        .prizes-item .lottery-result {
            margin: 0 0 20px 0;
        }
    }
    @media (max-width: 1439px) {
        .prizes-item .link-wrap {
            margin: 0;
        }
    }
    @media (max-width: 1439px) {
        .prizes-item .link-wrap {
            margin: 0;
        }
    }*/
/*=============COntent Youtube===============*/
.content_youtube{width:100%;/*height:435px;*/ margin:0;padding:0;background-image:url(../../../../Images/bg_youtube.jpg);float:left;background-repeat:no-repeat;margin-bottom:3%}
.title1{width:450px;color:#fff;text-align: justify;}
.tieude{font-size:20px;color:#fff;margin-bottom:20px;margin-top:50px;}
.noidung{max-width:400px;line-height: 24px;font-size: 14px;}

.frm_youtube{width:630px;height:350px; border:thin;float:right;margin-top:-180px;margin-right:30px }
.youtb{width:100%; height:auto;}

@media only screen and (min-width: 320px) and (max-width: 1900px) {
    .content_youtube{width:100%;/*height:435px;*/ margin:0;padding:0;background-image:url(../../../../Images/bg_youtube.jpg);float:left;background-repeat:no-repeat;margin-bottom:3%}
.title1{width:450px;color:#fff;text-align: justify;}
}
/*==================CONTACT====================*/
.contact_info{margin:0;padding:0;max-width:100%; width:720px;height:auto}
.contact{font-size:24px;margin-bottom:27px}
.map{width:100%;height:400px;margin-bottom:10px;background-image:url(../../../../Images/map.jpg)}
.information{width:100%;height:100px}

.contact_form{margin:0;padding:0; width:420px;height:520px;}
.frm_contact_name{font-size:24px;margin-bottom:27px;}
.frm_contact{height:450px;}
.div{margin-bottom:20px;width:400px}.name,.email,.phone{width:300px;text-align:left;}.gopy{width:300px;height:220px}.btn_submit,.btn_reset{overflow:auto;float:left;margin-right:20px;color:#FFF;background-color:#3e4d6c;border:1px solid #3e4d6c;width:110px;height:44px}


/*=============Winning Number========================*/
.menu_left{width:300px;border:1px solid:#039; height:1100px;float:left;background-color:#006;margin-left:-400px;display:block;margin-top:-60px;position:fixed}


.tr_name{vertical-align:middle;color:#fff;background-color:#495057;text-align:center;font-weight:bold}.td_stt{width:5%;text-align:center}.td_lottery{width:50%;text-align:center}.date12{width:10%;text-align:center}.results{width:30%;text-align:center}
.th{float:left;vertical-align:text-bottom; overflow:auto;-moz-border-radius: 100px; -webkit-border-radius: 100px;border-radius: 100px;border-color:#f6b559;border:1px solid #F00;width:30px;height:30px;color:#F00;text-align:center; display:inherit;margin:5px;}
.num111,.num222,.num333,.num444,.num555,.num666{-moz-border-radius: 100px; -webkit-border-radius: 100px;border-radius: 100px;border-color:#f6b559;border:1px solid #F00;width:30px;height:30px;color:#F00;text-align:center;float:left; display:inherit;margin:5px;font-size:18px;font-weight:bold;margin-bottom:-10px;margin-left:15px;margin-top:-5px}


.product-desc{position:absolute;width:100%;height:100%;left:0;top:0;border-bottom:40px solid #a53e4c;background-color:rgba(255,255,255,0.85);padding-left:15px;padding-right:15px;padding-top:32%;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}.product-col:hover .product-desc{-webkit-transform: scaleX(1);transform: scaleX(1);}.product-title{margin:0;margin-bottom:15px;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:500;line-height:23px;}.product-title a{display:block;color:#222;text-decoration:none;}.product-title a:hover{color:#a53e4c;}.product-price{display:block;font-size:20px;color:#a53e4c;}.product-priceo{display:block;font-size:14px;font-weight:600;color:#888;text-decoration:line-through;}.add-to-cart{position:absolute;width:40px;height:40px;text-align:center;line-height:40px;border-radius:50%;background:#a53e4c;-webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 1px 4px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 1px 4px 0px rgba(50, 50, 50, 0.55);color:#fff;font-size:20px;left:50%;margin-left:-20px;bottom:-18px;}.add-to-cart:hover{background:#c56471;color:#fff;}.product-col:hover .product-content{-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 1px 5px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 1px 5px 0px rgba(50, 50, 50, 0.55);}body.home-page .row .product-col:nth-child(9){display:none;}.product-deal{position:absolute;height:22px;line-height:22px;padding:0 8px;font-size:13px;color:#fff;font-weight:600;background:#a53e4c;left:10px;top:10px;display:none;}
.home-news{padding-top:40px;padding-bottom:10px;}.home-news1{padding-top:0px;padding-bottom:10px;margin-left:149px}
.col-news{margin-bottom:10px;}.col-news1{margin-bottom:10px;margin-left:6%}.col-news2{margin-bottom:30px;margin-left:-6%;margin-top:2%}.home-news .col-news{text-align:left;}.news-title{display:block;font-size:23px;line-height:40px;margin-bottom:10px;font-family: 'Roboto', sans-serif;color:#222;overflow:hidden;height:50px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.news-title:hover{color:#a53e4c;text-decoration:none;}.col-news p{margin-bottom:0;line-height:22px;max-height:66px;overflow:hidden;}.news-thumb{display:block;overflow:hidden;height:235px;margin-bottom:15px;}.news-thumb img{width:100%;min-height:100%;}.home-news .news-title{color:#006;font-size:24px}.home-news .news-thumb{margin-bottom:0;}.home-news .col-news p{margin-bottom:10px}.news-titles{display:block;font-size:20px;font-family: 'Roboto', sans-serif;line-height:26px;margin-bottom:8px;color:#222;}.news-titles:hover{color:#a53e4c;text-decoration:none;}.row .col-news:nth-child(3n+1){clear:both;}
.login{background-color:#33415f; padding: 10px 20px 20px 20px; font:"Times New Roman", Times, serif;margin-bottom:10px;margin-top:-10px;border-radius:10px 10px 10px 10px}
.lable{color:#FFF;margin-bottom:20px}
.btn_login{color:#FFF;text-align:center; width:100%;height:40px;background-color:#697ba2;margin-top:20px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
    .btn_login:hover {
        background-color: ivory;
        color: blue;
    }
.ask1{background-color:#F3F5F3;font-size:16px; margin-bottom:20px;}
.btn_ask{color:#333;text-align:center;border-color:#333; width:50%;height:40px;background-color:#F9F9F9;margin-top:40px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
    .btn_ask:hover {
        background-color: #4CAF50;
        color: blue;
    }
.task{color:#333;border-color:#333;}
.logo{background-image:url(home_16.jpg)); text-align:center}

/*================================form login Index====================================*/
form {

  box-sizing: border-box;

  width: 390px;

  margin: 0px auto 0;

  /*box-shadow: 2px 2px 5px 1px #fff;*/

  padding-bottom: 40px;

  border-radius: 3px;

}

form h1 {

  box-sizing: border-box;

  padding: 20px;

}



input.frm_login {

  margin: 20px 0px;

  width: 100%;

  display: block;

  border: 0px solid rgba(0,0,0,0.3);

  padding: 10px 0;

  border-bottom: solid 1px #4f7098;

  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  background: linear-gradient(to bottom, rgba(174, 148, 148, 0) 97%, rgb(244, 250, 247) 2%);

  background-position: -325px 0;

  background-size:  100%;

  background-repeat: no-repeat;

  color: #fff;

}

textarea.frm_login{
    margin: 20px 0px;

  width: 100%;
  height:90px;
  display: block;

  border: 0px solid rgba(0,0,0,0.3);

  padding: 10px 0;

  border-bottom: solid 1px #4f7098;

  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  background: linear-gradient(to bottom, rgba(174, 148, 148, 0) 99%, rgb(244, 250, 247) 2%);

  background-position: -325px 0;

  background-size:  100%;

  background-repeat: no-repeat;

  color: #fff;
}

textarea.frm_login:focus::-webkit-input-placeholder, textarea.frm_login:valid::-webkit-input-placeholder {
  /*color: #000;*/
  /*font-size: 12px;
  transform: translateY(-15px);
  visibility: visible !important;*/
   /*border-radius: 10px 10px 10px 10px;*/
}


input.frm_login:focus, input.frm_login:valid {

  box-shadow: none;

  outline: none;

  background-position: 0 0;
  color:#fff;

}
textarea.frm_login:focus, textarea.frm_login:valid {

  box-shadow: none;

  outline: none;

  background-position: 0 0;
  color:#fff;

}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {

  /*color: #000;*/

  /*font-size: 12px;

  transform: translateY(-15px);

  visibility: visible !important;*/

}



button {

  border: none;

  background: #1abc9c;

  cursor: pointer;

  border-radius: 3px;

  padding: 6px;

  width: 300px;

  color: white;

  margin-left: 25px;

  /*box-shadow: 0 3px 6px 0 red);*/

}

button:hover {

  transform: translateY(-3px);

  /*box-shadow: 0 6px 6px 0 #1b1b73);*/

}
/*================================form login Index====================================*/

footer{padding-top:0px;}.col-footer{margin-bottom:30px;}.col-footer_about{margin-bottom:30px;margin-left:40px}.footer-title{margin-top:0;margin-bottom:15px;font-size:22px;line-height:28px;color:#222;font-family: 'Roboto', sans-serif;}.footer-menu{padding:0;list-style:none;margin:0;}.footer-menu li{margin-bottom:10px;font-family: 'Roboto', sans-serif;font-size:15px;line-height:22px;}
    .footer-menu li a {
        display: block;
        color: #27a2db;
        text-decoration: none;
    }.footer-menu li a:hover{color:#888;}.footer-info{font-size:14px;line-height:22px;color:#222;}.footer-menu a{color:#222;text-decoration:none;}.footer-menu a:hover{color:#a53e4c}.copyright{font-weight:600;color:#a7a7a7;margin-bottom:15px}
.newsletter{padding:35px 0 34px 0;background:#a53e4c}.newsletter-form{width:700px;margin:0 auto;}.newsletter-form input{float:left;width:80%;height:44px;line-height:44px;background:#fff;border:none;outline:none;padding:0 15px;color:#999;}.newsletter-form button{float:left;width:20%;height:44px;line-height:44px;font-weight:500;font-family: 'Roboto', sans-serif;border:none;outline:none;font-size:18px;background:#822734;color:#fff;}
.breadcrumbs{background:#fafafa;border-radius:4px;border:1px solid #ddd;color:#666;font-family: 'Roboto', sans-serif;padding:12px 20px;line-height:22px;margin-bottom:30px}.breadcrumbs a{color:#666;margin-right:5px;display:inline-block;}.breadcrumbs a:hover{color:#a53e4c;text-decoration:none;}.breadcrumbs span{display:inline-block;margin-left:5px;}.breadcrumbs i{font-size:18px;line-height:22px;}
.sidebar-menu{margin:0;margin-bottom:20px;list-style:none;padding:0;}.sidebar-menu li{margin-bottom:2px;}.sidebar-menu li a{display:block;padding:13px 15px 12px 15px;font-family: 'Roboto', sans-serif;background:#fdfdfd;font-size:16px;line-height:22px;color:#666;text-decoration:none;}.sidebar-menu li a:hover,.sidebar-menu li.active a{color:#fff;background:#a53e4c}
.article-title{font-family: 'Roboto', sans-serif;font-size:24px;line-height:30px;margin-top:0;margin-bottom:15px;color:#a53e4c}
.share-detail{border-bottom:1px dashed #e4e4e4;border-top:1px dashed #e4e4e4;padding-top:10px;padding-bottom:5px;font-size:13px;margin-bottom:15px}.share-detail a{display:inline-block;height:22px;margin-bottom:5px;padding:0 10px;border-radius:3px;font-weight:700;text-decoration:none;color:#fff;line-height:23px;background-color: #3b5998;margin-right:5px}.share-detail a i{margin-right:7px;}.share-detail a:hover{background-color: #2d4373;}
.share-detail a:nth-child(2){background-color: #00aced;}.share-detail a:hover:nth-child(2){background-color: #0087ba;}.share-detail a:nth-child(3){background-color: #cb2027;}.share-detail a:hover:nth-child(3){background-color: #9f191f;}.share-detail a:nth-child(4){background-color: #dd4b39;}.share-detail a:hover:nth-child(4){background-color: #c23321;}
.sidebar-title{font-size:20px;line-height:25px;font-family: 'Roboto', sans-serif;color:#434343;margin-top:0;margin-bottom:20px;padding-bottom:7px;border-bottom:1px dashed #ddd}.row-featured{margin-bottom:15px;}.row-featured .news-thumb{float:left;margin-right:10px;margin-bottom:0;width:100px;height:60px;}.featured-title{display:block;font-size:14px;line-height:21px;color:#444;font-family: 'Roboto', sans-serif;}.featured-title:hover{text-decoration:none;color:#a53e4c}
.beside-comment{padding-top:20px;}#comment-slide .item{overflow:hidden;}#comment-slide .item strong{display:block;margin-top:8px;text-align:right}#comment-slide .item em{color:#888;}
.other-title{margin-top:30px;margin-bottom:20px;font-size:26px;line-height:34px;font-family: 'Roboto', sans-serif;}.contact-form{margin-right:40px;margin-bottom:20px}.col-contact{margin-bottom:20px;}.btnContact{height:42px;line-height:42px;font-weight:bold;width:180px;text-align:center;border:none;background:#a53e4c;color:#fff;}.col-contact{float:left;padding-left:15px;padding-right:15px;text-align:center;width:50%;margin-bottom:10px;}.col-contact-full{width:100%;}.col-contact .txtForm,.col-contact .slfForm{text-align:center;text-align-last:center;}.col-contact .btnForm{height:40px;line-height:42px;font-size:14px;width:200px;font-weight:700;margin:0 auto;margin-bottom:15px;}.col-contact strong{font-size:20px;text-transform:uppercase;}.google-map{height:400px;border:4px solid #fff}.row-comment{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dashed #ddd;}.row-comment strong{display:block;text-align:right;margin-top:5px;}
.member-form{margin:0 330px;padding:30px;background:#fff;border-radius:5px;border:1px solid #dfdfdf;}.member-form .col-contact{margin-bottom:20px !important;}.member-form .form-control{height:40px;padding:9px 12px}


@media (min-width: 992px){
	.navbar-nav{padding:0;margin:0;margin-left:10%;list-style:none;position:relative;}.navbar-nav>li{float:left;position:static;background:none;border:none;padding:0;margin:0px}.navbar-collapse{float:left;}
    .navbar-nav > li > a {
        line-height: 38px;
        color: #fff;
        position: relative;
        padding: 8px 50px;
        font-size: 16px;
        border-left: 1px solid #fff;
        text-align: center;
        margin-right: 0px
    }.navbar-nav>li:last-child>a{border:1px ;border-left:1px solid #fff}
    .navbar-nav > li > a:active, .navbar-nav > li:hover > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        background: #FFF;
        color: #27a2db;
        -webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
        box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5)
    }.navbar-collapse{padding:0;clear:both;text-align:center;margin-left:10px;width:100%}.navbar-nav>li>a.dropdown-icon{display:none;}
	.navbar-nav>li>.dropdown-menu{display:block;width:750px;left:0;margin:0;border:none;border-radius:0;-webkit-box-shadow: 0px 3px 10px 0px rgba(50,50,50,0.3);-moz-box-shadow: 0px 3px 10px 0px rgba(50,50,50,0.3);box-shadow: 0px 3px 10px 0px rgba(50,50,50,0.3);padding:20px 10px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;opacity:0;margin-top:30px;visibility:hidden;}.navbar-nav>li:hover>.dropdown-menu{margin-top:0;visibility:visible;opacity:1;}.dropdown-menu>ul{float:left;width:33.33333%;padding-left:12px;padding-right:12px;margin:0;list-style:none;color:#888}.dropdown-menu>ul>li strong{display:block;font-weight:400;font-size:17px;margin-bottom:8px;text-transform:uppercase;}.dropdown-menu>ul>li a{color:#C00;text-decoration:none;zine-height:22px;display:block;margin-bottom:5px;}.dropdown-menu>ul>li a:hover{color:#C00;padding-left:5px}
	.navbar-desktop.fixed .navmenu{position:absolute;width:100%;left:0;top:0;background:#FFF;-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.4);-moz-box-shadow:0px 2px 3px 0px rgba(50, 50, 50, 0.4);box-shadow:0px 2px 3px 0px rgba(50, 50, 50, 0.4);}
	
	
	
	
}
@media (min-width: 992px) and (max-width: 1200px){
	.container{width:100% !important;}.navbar-nav>li>a{font-size:15px;}.adv-title span{font-size:20px;line-height:35px;}.adv-title strong{font-size:35px;}.adv-thumb{height:375px}.adv-title{height:130px;padding:10px 10px 15px 10px}
	.news-thumb{height:185px;}.news-title{font-size:22px;}.row-other .col-news:nth-child(3){display:none;}.member-form{margin:0 200px;}
	
}
@media (max-width: 991px){
	.container{width:100% !important;}.wrapper img{height:auto !important;}.navbar-toggle{display:block}
	.navbar-collapse{float:none;clear:both;margin-left:-15px;margin-right:-15px;}a.dropdown-icon{position:absolute !important;right: 0;z-index: 99;top:0;background:none !important}.navbar-nav .open .dropdown-menu>li{padding:0 5px;}.navbar-nav .open .dropdown-menu>li>a:before{content:"\f178";float:left;margin-right:5px;font-family:'FontAwesome';}.nav>li>a:hover, .nav>li>a:focus,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{background:#495057}.navmenu .navbar-collapse{margin-left:0px;margin-right:0px;}
	.dropdown-menu>ul:nth-child(n+2),.dropdown-menu>ul>li:first-child{display:none;}.dropdown-menu>ul a{color:#fff;text-decoration:none;margin-bottom:5px;display:block;}.navmenu label{display:block;}.navbar-desktop{height:auto !important}
	.brand-list .item a{height:115px; width:200%}.slideshow,.brand-list{margin-bottom:15px;width:100%}.adv-title span{font-size:20px;line-height:35px;width:100%}.adv-title strong{font-size:32px;}.adv-thumb{height:355px}.adv-title{height:30%;padding:20px 10px 15px 10px}
	.product-content{display:block;}.product-desc{position:relative;-webkit-transform: scaleX(1);transform: scaleX(1);padding-top:12px;padding-bottom:30px;}.product-title{height:46px;overflow:hidden;margin-bottom:5px;}body.home-page .row .product-col:nth-child(9){display:block;}.product-priceo{display:none;}.product-deal{display:block;}
	.home-news{padding-top:30px}.news-title{font-size:20px;height:35px;line-height:35px;}.home-news .col-news p{color:#e1e1e1;}.row .col-footer:first-child{display:none;}
	.sidebar{padding-top:30px}.news-page .sidebar{display:none;}.contact-form{margin-right:0;}.google-map{height:300px;}.member-form{margin:0 auto;width:500px}
}
@media (max-width: 767px){
	header{background-size:cover;}header a.logo{display:block;float:none;text-align:center;margin-bottom:25px;}.shoping-cart{display:block;float:none;margin:0 auto;margin-bottom:15px;}.top-member{float:none;text-align:center;margin-bottom:15px;}.header-search{float:none;margin:0 auto;margin-bottom:20px;width:262px}.slidecontent-sub{max-height:44px;line-height:22px;overflow:hidden;}.slidecontent{display:none;}.row-product{margin-left:-7px;margin-right:-7px;}.row-product1{margin-left:1px;margin-right:1px;width:100%}.product-col{padding-left:7px;padding-right:7px}.product-col1{padding-left:1px;padding-right:1px;}.home-news .col-news:nth-child(3){display:none;}.newsletter-form{width:100%;padding-left:5px;padding-right:5px;}.row .col-footer:last-child{clear:both}.row .col-news:nth-child(3n+1){clear:none;}.row .col-news:nth-child(2n+1){clear:both;}.row-other .col-news:nth-child(3){display:none;}
	
	
}
@media (max-width: 570px){
	.brand-list{margin-bottom:15px;margin-top:15px;}.brand-list .item a{height:95px;width:300px}.slideshow{display:none;}.col-adv{width:370px;margin-left:auto;margin-right:auto;}.adv-title-desktop{display:none;}.adv-title-mobile{display:block;}body.home-page .row .product-col:nth-child(9){display:none;}.page-title{font-size:20px;line-height:30px}.newsletter-form{padding-right:105px;}.newsletter-form input{width:100%;}.newsletter-form button{padding:0;width:90px;margin-right:-90px;}.google-map{height:250px;}.member-form{width:430px}
	
	
}
@media (max-width: 480px){
	.col-adv{width:350px;}.adv-title span{font-size:20px;}.adv-title strong{font-size:28px;}.home-news .col-news{margin-left:40px;margin-right:40px;}.newsletter{padding-top:25px;padding-bottom:24px}section.section-page{padding:20px 0}.breadcrumbs{padding:8px 10px;}.page-title{margin-bottom:20px;}.member-form{width:100%;padding:20px}
	
	
}
@media (max-width: 370px){
	.col-adv{width:100%;}.home-news .col-news{margin-left:0;margin-right:0;}
	
	
}