﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/companyinfomation">Manager CompanyInformation</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-3">
                        <input type="text" onkeydown="return ProccessSearch(event,this.value)" class="form-control" placeholder="Input email, CompanyName" id="txtKeyword" name="txtKeyword">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchCompany()">Search</button>
                        @*<button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 90px; margin-left:20px; float:right" onclick="ExportExcelMember()">Export Excel</button>*@
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List CompanyInformation</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>MemberID</th>
                                        <th>CompanyName</th>
                                        <th>Adress</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Website</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListCompanyInformation">
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTCOMPANY] != null)
                                    {
                                        IEnumerable<CompanyInformationBO> lstCompany = (IEnumerable<CompanyInformationBO>)ViewData[ViewDataKey.VIEWDATA_LISTCOMPANY];
                                        if (lstCompany != null && lstCompany.Count() > 0)
                                        {
                                            foreach (CompanyInformationBO company in lstCompany)
                                            {
                                                const int maxlenght = 40;
                                                string dot = "...";
                                                string description = company.Description.ToString();
                                                if(description.Length>maxlenght)
                                                {
                                                    description = description.Substring(0, maxlenght) + "" + dot;
                                                }
                                              
                                                <tr id="trGroup_@company.MemberID" class="none-top-border">
                                                    <td class="center"><a onclick="ShowPopupDetailCompany('@company.MemberID')" data-toggle="modal" data-target="#standardModal">@company.MemberID </a></td>
                                                    
                                                    <td class="center">@company.CompanyName</td>
                                                    <td class="center">@company.Address</td>
                                                    <td class="center">@company.Phone</td>
                                                    <td class="center">@company.Email</td>
                                                    <td class="center"><a href="#">@company.Website</a></td>
                                                    <td class="center" title="@company.Description">@description</td>
                                                 
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @*<div id="divPaging" class="col-md-6">*@
                            @{Html.RenderAction("Index", "Paging");}
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdMemberID" name="hdMemberID" value="0" />

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:1187px">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Company Infomation</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <div class="box-content">
                                    <table class="table table-striped table-bordered responsive">
                                        <thead>
                                            <tr>
                                                <th>MemberID</th>
                                                <th>CompanyName</th>
                                                <th>Adress</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Website</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyListCompanyInformation"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <br>

            </div>
            <!--Footer-->

        </div>
        <!--/.Content-->
    </div>
</div>

@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/jqueryui.js"></script>
<script type="text/javascript" src="/Scripts/companyinformation/companyinformation.js"></script>
