﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Point History";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--Section: Sales-->
<main class="content js-content" style="min-height: 169px;padding-top: 50px;padding-bottom: 87px;">
    <!--MENU-->
    <div class="box-wrap">
        @if ((string)Session["Language"] == "EN")
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">
                    <div class="admin-panel indigo-admin-panel">
                        <form class="form-inline" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="text" id="txtFromDate" name="txtFromDate" class="form-control inputLine inputDateTime" placeholder="From Date">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtToDate" name="txtToDate" class="form-control inputLine inputDateTime" placeholder="To Date">
                                    </div>
                                    <div class="col-sm-1">
                                        <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchPoint()">
                                            <i class="fa fa-search"></i>&nbsp;&nbsp;Search
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="section divListHistoryTicket">
                        <!--Main row-->
                        <div class="col-md-12 divTable">
                                <!--Card-->
                                <div class="card card-cascade narrower">
                                    <!--Admin panel-->
                                    <div class="admin-panel purple-admin-panel">
                                        <div class="col-lg-12 text-center">
                                            <!--First column-->
                                            <div class="admin-panel info-admin-panel">
                                                <div class="view primary-color" style="background-color:brown;bottom:23px">
                                                    <h5>LIST TRANSACTION BY POINTS</h5>
                                                </div>


                                                <!--/Second column-->
                                            </div>
                                            <!--/Second column-->
                                        </div>
                                        <!--/Third row-->
                                        <!--Third row-->
                                        <div class="row mb-0">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <!--Panel content-->
                                                <div class="card-block pt-0">
                                                    <!--Table-->
                                                    <div class="table-responsive">

                                                        <table class="table table-hover" id="tblListPointHis">
                                                            <!--Table head-->
                                                            <thead>
                                                                <tr style="background-color:black">
                                                                    <th class="textAlignCenter thOrdinalNumber">#</th>
                                                                    <th class="textAlignCenter">Points</th>
                                                                    <th class="textAlignCenter thDate">Buy Date</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody id="tbodyListPoint">
                                                                @if (ViewData["ListTransaction"] != null)
                                                                {
                                                                    int stt = 1;
                                                                    IEnumerable<TransactionPointsBO> lstTransaction = (IEnumerable<TransactionPointsBO>)ViewData["ListTransaction"];
                                                                    if (lstTransaction != null && lstTransaction.Count() > 0)
                                                                    {
                                                                        foreach (TransactionPointsBO transaction in lstTransaction)
                                                                        {

                                                                            string statusName = "";
                                                                            if (transaction.Status == 0)
                                                                            {
                                                                                statusName = "InActive";
                                                                            }
                                                                            else if (transaction.Status == 1)
                                                                            {
                                                                                statusName = "Active";
                                                                            }
                                                                            else if (transaction.Status == 2)
                                                                            {
                                                                                statusName = "Deleted";
                                                                            }
                                                                            string styleColor = "#fff";
                                                                            if (stt % 2 == 0)
                                                                            {
                                                                                styleColor = "#ccc";
                                                                            }
                                                                            <tr class="none-top-border" style="cursor:pointer; background-color:@styleColor" onclick="ShowTransactionPointDetail('@transaction.TransactionCode','@transaction.E_Wallet','@transaction.Points','@transaction.CreateDate.ToString(BBH.Lotte.Shared.Utility.strFormmatDatetime)','@statusName')" data-toggle="modal" data-target="#standardModal">
                                                                                <td class="textAlignCenter">@stt</td>
                                                                                <td class="textAlignCenter">@string.Format("{0:0,0}", transaction.Points)</td>
                                                                                <td class="textAlignCenter">@transaction.CreateDate.ToString(BBH.Lotte.Shared.Utility.strFormmatDatetime)</td>
                                                                            </tr>
                                                                            stt++;
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>

                                                        </table>


                                                    </div>

                                                </div>

                                                @{
                                                    Html.RenderAction("Index", "Paging");
                                                }
                                            </div>
                                            <!--/First column-->
                                        </div>
                                        <!--/Third row-->
                                    </div>
                                    <!--/Admin panel-->
                                </div>
                                <!--/.Card-->
                        </div>
                        <!--/Main row-->
                    </section>

                </div>
            </div>
        }
        else
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">

                    <div class="admin-panel indigo-admin-panel">
                        <form>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="md-form" style="margin-bottom:10px">

                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: left; color: #fff; background-color: #68558c;" type="text" id="txtFromDate" name="txtFromDate" placeholder="Từ ngày" class="validate">
                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: right; color: #fff; background-color: #68558c;" type="text" id="txtToDate" name="txtToDate" placeholder="đến ngày" class="validate">

                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <img id="imgLoadingSearch" src="/Images/loading.gif" style="display:none; position:relative; float:right">
                                    <div class="md-form" style="margin-bottom:0px">
                                        <a id="2lvlModal" class="btn btn-danger" style="background-color: #68558c;" onclick="SearchPoint()" contenteditable="true">Tìm kiếm</a>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="section">
                        <!--Main row-->
                        <div class="row">
                            <div class="col-md-12">
                                <!--Card-->
                                <div class="card card-cascade narrower">
                                    <!--Admin panel-->
                                    <div class="admin-panel purple-admin-panel">
                                        <div class="row mx-3 text-center">
                                            <!--First column-->
                                            <div class="col">
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                    @*<label class="btn btn-md active">
                                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>Queries
                                                        </label>*@
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                    @*<label class="btn btn-md">
                                                            <input type="radio" name="options" id="option2" autocomplete="off">Pages
                                                        </label>*@
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                    @*<label class="btn btn-md">
                                                            <input type="radio" name="options" id="option3" autocomplete="off">Countries
                                                        </label>*@
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                    @*<label class="btn btn-md">
                                                            <input type="radio" name="options" id="option4" autocomplete="off">Devices
                                                        </label>*@
                                                </div>

                                            </div>
                                            <!--/Second column-->
                                        </div>
                                        <!--/Third row-->
                                        <!--Third row-->
                                        <div class="row mb-0">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <!--Panel content-->
                                                <div class="card-block pt-0">
                                                    <!--Table-->
                                                    <div class="table-responsive">

                                                        <table class="table table-hover">
                                                            <!--Table head-->
                                                            <thead>
                                                                <tr>
                                                                    <th>Stt</th>

                                                                    <th>Điểm</th>
                                                                    <th>Ngày mua</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody id="tbodyListPoint">
                                                                @if (ViewData["ListTransaction"] != null)
                                                                {
                                                                    int stt = 1;
                                                                    IEnumerable<TransactionPointsBO> lstTransaction = (IEnumerable<TransactionPointsBO>)ViewData["ListTransaction"];
                                                                    if (lstTransaction != null && lstTransaction.Count() > 0)
                                                                    {
                                                                        foreach (TransactionPointsBO transaction in lstTransaction)
                                                                        {

                                                                            string statusName = "";
                                                                            if (transaction.Status == 0)
                                                                            {
                                                                                statusName = "Chưa kích hoạt";
                                                                            }
                                                                            else if (transaction.Status == 1)
                                                                            {
                                                                                statusName = "Đã kích hoạt";
                                                                            }
                                                                            else if (transaction.Status == 2)
                                                                            {
                                                                                statusName = "Đã xóa";
                                                                            }
                                                                            string styleColor = "#fff";
                                                                            if (stt % 2 == 0)
                                                                            {
                                                                                styleColor = "#ccc";
                                                                            }
                                                                            <tr class="none-top-border" style="cursor:pointer; background-color:@styleColor" onclick="ShowTransactionPointDetail('@transaction.TransactionCode','@transaction.E_Wallet','@transaction.Points','@transaction.CreateDate.ToString(BBH.Lotte.Shared.Utility.strFormmatDate)','@statusName')" data-toggle="modal" data-target="#standardModal">
                                                                                <td>@stt</td>

                                                                                <td>@string.Format("{0:0,0}", transaction.Points)</td>
                                                                                <td>@transaction.CreateDate.ToString(BBH.Lotte.Shared.Utility.strFormmatDate)</td>

                                                                            </tr>
                                                                            stt++;
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>

                                                        </table>


                                                    </div>

                                                </div>

                                                @{
            Html.RenderAction("Index", "Paging");
                                                }
                                            </div>
                                            <!--/First column-->
                                        </div>
                                        <!--/Third row-->
                                    </div>
                                    <!--/Admin panel-->
                                </div>
                                <!--/.Card-->
                            </div>
                        </div>
                        <!--/Main row-->
                    </section>

                </div>
            </div>
        }
    </div>
</main>

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        @if ((string)Session["Language"] == "EN")
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header white-text" style="background-color: #154771">
                    <p class="heading" contenteditable="true">Point Detail Infomation</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Transaction Code</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtTransaction" name="txtTransaction" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Bitcoin Wallet</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtEwallet" name="txtEwallet" value="@ViewData["EWallet"]" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Points</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtPoints" name="txtPoints" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Buy Date</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtBookingDate" name="txtBookingDate" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Status</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtStatus" name="txtStatus" class="form-control validate">
                                </div>

                            </div>
                        </div>
                    </form>
                    <br>

                </div>
                <!--Footer-->
                <div class="modal-footer">

                    <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Close</a>
                </div>
            </div>
        }
        else
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header white-text" style="background-color: #154771">
                    <p class="heading" contenteditable="true">Thông tin chi tiết điểm</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Mã giao dịch</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtTransaction" name="txtTransaction" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Ví Bitcoin</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtEwallet" name="txtEwallet" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Điểm</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtPoints" name="txtPoints" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Ngày mua</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtBookingDate" name="txtBookingDate" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Trạng thái</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtStatus" name="txtStatus" class="form-control validate">
                                </div>

                            </div>
                        </div>
                    </form>
                    <br>

                </div>
                <!--Footer-->
                <div class="modal-footer">

                    <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Đóng</a>
                </div>
            </div>
        }
        <!--/.Content-->
    </div>
</div>
<input type="hidden" id="hdTransactionPointID" value="0" />
@*<input type="hidden" id="hdQuantity" value="0" />*@
<script src="/Scripts/jqueryui.js"></script>
<script>

    $("#txtToDate").datepicker();
    $("#txtFromDate").datepicker();
</script>
<script type="text/javascript" src="/Scripts/member/member.js"></script>
