﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@{
    ViewBag.Title = "Manager System Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/ticketconfig" style="text-decoration: none;"><i class="glyphicon glyphicon-gift"></i>  Manager System Config</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-primary btn-lg">Config System Automatic</a>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List System config</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>ConfigID</th>
                                        <th>IsAutoLottery</th>
                                        <th>CreatedDate</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAward">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTSYSTEMCONFIG] != null)
                                    {
                                        IEnumerable<SystemConfigBO> lstTicketConfig = (IEnumerable<SystemConfigBO>)ViewData[ViewDataKey.VIEWDATA_LISTSYSTEMCONFIG];
                                        if (lstTicketConfig != null)
                                        {
                                            foreach (SystemConfigBO system in lstTicketConfig)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "ActiveAutomatic";
                                                if (system.IsAutoLottery == 0)
                                                {
                                                    status = "InActiveAutomatic";
                                                    titleStatus = "Unlock";
                                                }
                                                <tr id="trGroup_@system.ConfigID" class="none-top-border">
                                                    <td class="center">@system.ConfigID</td>
                                                    <td>@system.IsAutoLottery</td>
                                                    <td class="center">@system.CreatedDate</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@system.ConfigID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        @*<a class="btn btn-info btn-sm" href="#" onclick="ShowPopUpEditTicketConfig('@system.ConfigID','@system.IsAutoLottery')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>*@
                                                        <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockConfig('@system.ConfigID','@system.IsAutoLottery')" title="@titleStatus">
                                                            @if (system.IsAutoLottery == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdSystemfigID" value="0" />
<input type="hidden" id="hdSystemfigID_Temp" value="0" />

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Config System Automatic Information</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Automatic Award Megaball: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="checkbox" id="cbConfigSystem" name="cbConfigSystem" class="form-control validate">
                                
                            </div>
                        </div>
                    </div>

                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveConfigSystem()" contenteditable="true">Save</a>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
 <script src="/Scripts/systenconfig/systemconfig.js"></script>
