﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@{
    ViewBag.Title = "Manager AwardMegaball";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/ticketconfig" style="text-decoration: none;"><i class="glyphicon glyphicon-gift"></i>  Manager Ticket Config</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateNewConfigTicket()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>  Create New Ticket Config</a>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List ticket config</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>ConfigID</th>
                                        <th>ConfigName</th>
                                        <th>Number Ticket</th>
                                        <th>Coin Values</th>
                                        <th>CoinID</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAward">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTTICKETCONFIG] != null)
                                    {
                                        IEnumerable<TicketConfigBO> lstTicketConfig = (IEnumerable<TicketConfigBO>)ViewData[ViewDataKey.VIEWDATA_LISTTICKETCONFIG];
                                        if (lstTicketConfig != null)
                                        {
                                            foreach (TicketConfigBO ticket in lstTicketConfig)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (ticket.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                decimal coinValues = ticket.CoinValues;
                                                coinValues = Math.Round(coinValues, 6);



                                                <tr id="trGroup_@ticket.ConfigID" class="none-top-border">
                                                    <td class="center">@ticket.ConfigID</td>
                                                    <td>@ticket.ConfigName</td>
                                                    <td>@ticket.NumberTicket</td>
                                                    <td class="center">@coinValues</td>
                                                    <td class="center">@ticket.CoinID</td>
                                                    <td class="center">@ticket.CreatedDate</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@ticket.ConfigID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        <a class="btn btn-info btn-sm" title="@ticket.ConfigName" href="#" onclick="ShowPopUpEditTicketConfig('@ticket.ConfigID','@ticket.ConfigName','@ticket.NumberTicket','@coinValues','@ticket.CoinID')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                        <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockConfig('@ticket.ConfigID','@ticket.IsActive')" title="@titleStatus">
                                                            @if (ticket.IsActive == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdConfigID" value="0" />
<input type="hidden" id="hdConfigID_Temp" value="0" />

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Config Ticket Information</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    @*<div class="row" style="margin-bottom:15px">
                            <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Award name: </div>
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input type="text" onfocus="ResetForm('lbErrorAwardName', this.value)" id="txtAwardName" name="txtAwardName" placeholder="Vietnamese Award Name"  class="form-control validate">
                                </div>
                                <label id="lbErrorAwardName" style="color:red; display:none" class=""></label>
                            </div>
                        </div>*@
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Config Name: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorConfigName', this.value)" id="txtConfigName" name="txtConfigName" placeholder="Config name" class="form-control validate">

                            </div>
                            <label id="lbErrorConfigName" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Number Ticket: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorNumberTicket', this.value)" id="txtNumberTicket" name="txtNumberTicket" placeholder="Number ticket" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorNumberTicket" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Coin Values: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorCoinValue', this.value)" id="txtCoinvalues" name="txtCoinvalues" placeholder="Coin value" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorCoinValue" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Coin ID: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorCoinID', this.value)" id="txtCoinID" name="txtCoinID" placeholder="Coin ID" class="form-control validate">
                            </div>
                            <label id="lbErrorCoinID" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveConfigTicket()" contenteditable="true">Save</a>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/configticket/configticket.js"></script>