﻿@using BBH.Lotte.CMSAdmin.Models;
@using BBH.Lotte.Domain;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/awardwithdraw" style="text-decoration: none;"><i class="glyphicon glyphicon-euro"></i>  Manager Withdraw Award</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-2" style="margin-right: 50px;">
                        <div class="controls">
                            <select id="cbMember" class="form-control" data-rel="chosen">
                                <option value="">Select member</option>
                                @if (ViewData[ViewDataKey.VIEWDATA_LISTMEMBER] != null)
                                {
                                    IEnumerable<MemberBO> lstMember = (IEnumerable<MemberBO>)ViewData[ViewDataKey.VIEWDATA_LISTMEMBER];
                                    if (lstMember != null && lstMember.Count() > 0)
                                    {
                                        foreach (MemberBO mem in lstMember)
                                        {
                                            <option value="@mem.Email">@mem.Email</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" name="txtFromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                    </div>
                    <div class="col-md-2" style="margin-right: 40px;">
                        <div class="controls">
                            <select id="cbStatus" class="form-control" data-rel="chosen">
                                <option value="-1">Status</option>
                                <option value="0">UnProccess</option>
                                <option value="1">Confirmed</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position:relative; height:36px; width:90px" onclick="SearchAwardWithdraw()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                        @*<button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcelTrnasctionCoin()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>*@
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>List Award Withdraw</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Request Date</th>
                                        <th>Award Date</th>
                                        <th>Award Values</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                        <th>View Detail</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAward">

                                    @if (ViewData["ListAwardWithdraw"] != null)
                                    {
                                        List<AwardWithdrawBO> lstTransaction = (List<AwardWithdrawBO>)ViewData["ListAwardWithdraw"];
                                        if (lstTransaction != null && lstTransaction.Count() > 0)
                                        {
                                            foreach (AwardWithdrawBO transaction in lstTransaction)
                                            {

                                                string status = string.Empty;

                                                if (transaction.RequestStatus == 0)
                                                {
                                                    status = "UnProcess";
                                                }
                                                else
                                                {
                                                    status = "Confirmed";
                                                }

                                                <tr id="trGroup_@transaction.TransactionID.Trim()" class="none-top-border">
                                                    <td class="center">@transaction.RequestMemberID</td>
                                                    <td class="center">@transaction.RequestDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                                    <td class="center" title="@transaction.AwardDate">@transaction.AwardDate.ToString("dd/MM/yyyy hh:mm:ss")</td>

                                                    <td class="center">@transaction.ValuesWithdraw</td>
                                                    <td class="center" style="display:none">@transaction.RequestStatus</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@transaction.TransactionID.Trim()" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        @if (transaction.RequestStatus == 0)
                                                        {
                                                            <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="ConfirmWithdrawAward('@transaction.TransactionID.Trim()','1')" title="Confirm">
                                                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                                                Confirm
                                                            </a>

                                                        }
                                                    </td>

                                                    <td class="center">
                                                        <a class="btn btn-info btn-sm" onclick="ShowAwardWithdrawDetail('@transaction.TransactionID.Trim()','@transaction.RequestStatus')" data-toggle="modal" data-target="#standardModal" href="javacript:void(0)">View detail</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Information Withdraw Award</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    @*<div class="row" style="margin-bottom:10px">
            <h5 style="margin-left: 15px;">TransactionID</h5>
            <div class="col-md-12">
                <div class="md-form">
                    <label id="lbTransactionID" class="form-control"></label>
                </div>
            </div>
        </div>*@

                    <div class="row" style="margin-bottom:10px;">
                        <h5 style="margin-left: 15px;">UserName</h5>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <div class="md-form">

                                <label id="lbUserName" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    @*<div class="row" style="margin-bottom:10px">
                        <h5 style="margin-left: 15px;">Award Date</h5>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <div class="md-form">

                                <label id="lbAwardDate" class="form-control"></label>
                            </div>
                        </div>
                    </div>*@
                    <div class="row" style="margin-bottom:10px">
                        <h5 style="margin-left: 15px;">Request Date</h5>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <div class="md-form">

                                <label id="lbCreateDate" class="form-control"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <h5 style="margin-left: 15px;">Request Date</h5>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <div class="md-form">

                                <label id="lbAwardValues" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5 style="margin-left: 15px;">Transaction Status</h5>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <div class="md-form">

                                <label id="lbAwardStatus" class="form-control"></label>
                            </div>
                        </div>
                    </div>
                    <div id="div_award">
                        <div class="row" style="margin-bottom:10px">
                            <h5 style="margin-left: 15px;"> Confirm</h5>
                            <div class="col-md-12" style="margin-top: 5px;">
                                <div class="md-form">
                                    <label id="lbUserConfirm" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <h5 style="margin-left: 15px;">Confirm Date</h5>
                            <div class="col-md-12" style="margin-top: 5px;">
                                <div class="md-form">
                                    <label id="lbConfirmDate" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" data-dismiss="modal" onclick="close()" contenteditable="true">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'dd/mm/yy' });
</script>
<script type="text/javascript" src="/Scripts/awardwithdraw/awardwithdraw.js"></script>
