﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Top Up";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}

<div class="heading-sub-section">
    <h4 class="head-title">Top-up</h4>
    <h6 class="sub-title">Top up BTC to your wallet to buy tickets and play anytime.</h6>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="betTabs">
            <li role="presentation" class="active">
                <a href="#btc" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>
            </li>
            @*<li role="presentation">
                    <a href="#car" aria-controls="car" role="tab" data-toggle="tab">Carcoin</a>
                </li>*@
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="btc">
            @*<div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Top-up amount</label>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="input-group">
                            <input type="number" onkeyup="OnchangePoint()" onfocus="ResetField()" id="txtPoint" name="txtPoint" class="form-control text-md validate" data-point="1" data-coin="0" data-point="0" data-ticketnumber="0" data-tickerpoint="0" maxlength="6" placeholder="0.1">
                            <span class="input-group-addon" id="curr-addon-l">BTC</span>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Top-up address</label>
                    </div>
                    <div class="col-md-6 col-sm-9 col-xs-12">
                        <a href="javascript:void(0);" id="txtEwalletBTC" onclick="copyToClipboard('#txtEwalletBTC')" data-clipboard-text="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" data-tocopy="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" class="copy-address">@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]</a>
                    </div>
                    <div class="col-xs-12">
                        <a href="javascript:void(0);" onclick="copyToClipboard('#txtEwalletBTC')" data-clipboard-text="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" data-tocopy="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" class="btn btn-warning copy_wallet_address">Copy to clipboard</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Or scan the QR-code</label>
                    </div>
                    <div class="col-xs-12">
                        <img id="recharge_qr" class="img-qr" data-wallet="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" src="https://chart.googleapis.com/chart?chs=195x195&amp;cht=qr&amp;chl=@(ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS])" alt="">
                    </div>
                </div>
            </div>
        </div>
        @*<div role="tabpanel" class="tab-pane" id="car">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Top-up address</label>
                    </div>
                    <div class="col-md-6 col-sm-9 col-xs-12">
                        <a href="javascript:void(0);" id="txtEwalletCarcoin" onclick="copyToClipboard('#txtEwalletCarcoin')" data-clipboard-text="@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]" data-tocopy="@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]" class="copy-address">@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]</a>
                    </div>
                    <div class="col-xs-12">
                        <a href="javascript:void(0);" onclick="copyToClipboard('#txtEwalletCarcoin')" data-clipboard-text="@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]" data-tocopy="@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]" class="btn btn-warning copy_wallet_address">Copy to clipboard</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Or scan the QR-code</label>
                    </div>
                    <div class="col-xs-12">
                        <img id="recharge_qr" class="img-qr" data-wallet="@ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS]" src="https://chart.googleapis.com/chart?chs=195x195&amp;cht=qr&amp;chl=@(ViewData[BBH.Lotte.Shared.SessionKey.CARCOINADDRESS])" alt="">
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<input type="hidden" id="hdEwallet" value="@ViewData["EWallet"]">
@*<script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>
<script type="text/javascript" src="/Scripts/point/point.js"></script>*@
<script type="text/javascript">
    //$('#txtPoint').numeric();
</script>
