﻿@{
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}
<script type="text/javascript" src="/Scripts/gamemegaball/megaball.js"></script>
<script type="text/javascript">
    var max_free_tickets = 0;
</script>
<div class="content">
    <div class="col-md-9 left-content">
        <h4 class="head-title">Tickets</h4>
        <h6 class="draw-title">Draw №<span id="spanRawnumber"></span> - @ViewBag.GetOpenDate </h6>
        <div class="play_section__tabs">
            <ul class="nav nav-tabs" role="tablist" id="betTabs">
                <li role="presentation" class="active">
                    <a href="#manual" aria-controls="manual" role="tab" data-toggle="tab" onclick="ClickTab(1)">Manual</a>
                </li>
                <li role="presentation">
                    <a href="#multibet" aria-controls="multibet" role="tab" data-toggle="tab" onclick="ClickTab(2)">Automatic multibet</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="manual">
                <div id="divBoxTicket" class="profile-ticket__list">
                    <div class="profile-ticket__item item-first" id="divTicket_1" data-id="1">
                        <div class="box-ticket" id="box-ticket">
                            <div class="box-ticket__header">
                                <a id="autoBox_1" href="javascript:void(0)" onclick="autoProfileAnimated(1,$(this).closest('.profile-ticket__item'));" class="btn btn-info btn-sm">Auto</a>
                                <a onclick="clearTicketIsActived(this,1);" class="btn btn-info btn-sm ticket-header__btn-clear js-ticket-clear">Clear</a>
                            </div>
                            <div class="box-ticket__body">
                                <p class="text-cen-up">Select 5 numbers</p>
                                <ul class="num-list first-49" data-max="5" id="ulnum49">
                                    @{
                                        for (var i = 1; i <= 39; i++)
                                        {
                                            <li class="num-list__item">@i</li>
                                        }
                                    }
                                </ul>
                                <p class="text-cen-up">And one more</p>
                                <ul class="num-list num-list_yellow" id="ulExtra_1" data-max="1">
                                    @{
                                        for (var i = 1; i <= 18; i++)
                                        {
                                            <li class="num-list__item">@i</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="AddMoreTicketMegaball()" class="btn btn-warning btn-add-big __addTickets"><span class="icon-plus"></span>ADD TICKETS</button>
            </div>
            <div role="tabpanel" class="tab-pane" id="multibet">
                <div class="block-border">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-inline">Number of tickets</label>
                            </div>
                            <div class="col-md-5">
                                <div id="divColdBar">
                                    <div class="slider" data-slider data-initial-start="3">
                                        <span class="slider-handle" id="spanSliderBar" draggable="true" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="number" id="sliderOutput1" class="slider-input">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Regenerate all" onclick="return RandomNumberAutomaticTicket()" class="btn btn-warning">
                    </div>
                    <div class="form-group">
                        <div class="combo-list">
                            <div id="divListRandom" class="row text-center">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 right-content payBalance activepage" id="idTotalManual">
        <h4 class="head-title">Make a bet</h4>
        <table class="price-ticket">
            <tr>
                <td>Filled-out tickets</td>
                <td><span id="spanNumberTicket">0</span></td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td class="price"><span id="spanTotal">0.00000</span> <span>BTC</span></td>
            </tr>
        </table>
        <div class="text-center">
            <input type="submit" value="Pay using balance" onclick="return SubmitTicket()" id="pay_for_tickets" class="btn btn-warning">
        </div>
    </div>
    <div class="col-md-3 right-content payBalance" id="idTotalmultibet">
        <h4 class="head-title">Make a bet</h4>
        <table class="price-ticket">
            <tr>
                <td>Filled-out tickets</td>
                <td><span id="spanNumberTicketMultibet">0</span></td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td class="price"><span id="spanTotalMultibet">0.0000</span> <span>BTC</span></td>
            </tr>
        </table>
        <div class="text-center">
            <input type="submit" value="Pay using balance" onclick="return SubmitTicketAutomaticMultibet()" id="pay_for_muti_tickets" class="btn btn-warning">
        </div>
    </div>
</div>
<input type="hidden" onclick="return SubmitTicket()" id="hdpaytickets" class="btn btn-warning">
<input type="hidden" onclick="return SubmitTicketAutomaticMultibet()" id="hdpaymutitickets" class="btn btn-warning">
<input type="hidden" id="hdLinkReference" value="@ViewBag.LinkReference" />
<script type="text/javascript">
    var maxItemNotification = '1';
    function openTabs(tabsName) {
        var i;
        var x = document.getElementsByClassName("tab_content");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabsName).style.display = "block";
    }
    function CheckLinkReference() {
        var LinkReference = $("#hdLinkReference").val();
        if (LinkReference != "-1") {
            $("#registration-login").modal();
            $("#login").removeClass('active');
            $("#register").addClass('active');
            $('#LinkReference').val(LinkReference);
            $('#LinkReferenceUpdatePassword').val(LinkReference);
            $('.nav-link')[1].click();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#sliderOutput1').on("change", function () {
            RandomNumberAutomaticTicket();
        })
        $('.slider').on('changed.zf.slider', function () {
            RandomNumberAutomaticTicket();
        });
        $('#liTab1').removeClass('active');
        $('#liTab2').addClass('active');
        var LinkReference = $("#hdLinkReference").val();
        if (LinkReference != "-1") {
            CheckLinkReference();
        }
    });
</script>

