﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CSC Jackpot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/Content/LotteryCarcoin/assets/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/LandingPageLotte/assets/css/all.css">
    <link href="/Content/LotteryCarcoin/assets/css/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/LandingPageLotte/assets/css/slick.css">
    <link href="~/Content/LandingPageLotte/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/LotteryCarcoin/assets/alertify/alertify.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/LandingPageLotte/assets/img/logo/favicon.png">
    <script src="/Content/LandingPageLotte/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="nav-menu">
        <div class="row">
            <div class="col-sm-6 col-4">
                <a href="/"><img src="~/Content/LandingPageLotte/assets/img/logo/logo-jackpot.png" class="logo-jackpot img-logo"></a>
                <a href="/">
                    <img src="~/Content/LandingPageLotte/assets/img/logo/favicon.png" class="logo-favicon img-logo">
                </a>
            </div>
            <div class="col-sm-6 col-8">
                <ul class="nav right">

                    <li class="nav-item">
                        @if (BBH.Lotte.Shared.RDUser.Email != null && BBH.Lotte.Shared.RDUser.Email != ""@*|| BBH.Lotte.Shared.RDUser.Email.Length == 0*@)
{
<span class="user-ellipsis"><a href="/play-game" class="btn btn-primary">@BBH.Lotte.Shared.RDUser.Email.Split('@')[0]</a></span>
}
else
{
<span class="user-ellipsis"><a data-toggle="modal" data-target="#registration-login" class="btn btn-primary">SIGN IN</a></span>
}

                    </li>

                    <li class="nav-item">
                        <div class="nav-button">
                            <div id="nav-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'PcxN84uy3z';
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    @{Html.RenderAction("MenuRight", "Home");}
    @RenderBody()
    @{Html.RenderAction("ModalRegistrationLogin", "Home");}
    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="~/Content/LotteryCarcoin/assets/img/loading/loading.gif" id="imgLoading">
    </div>
    @*<script src="~/Content/LotteryCarcoin/assets/js/bootstrap.min.js"></script>*@
    <script src="~/Content/LandingPageLotte/assets/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/LotteryCarcoin/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/LotteryCarcoin/assets/alertify/alertify.js" type="text/javascript"></script>
    <script src="~/Scripts/common/common.js" type="text/javascript"></script>
    <script src="~/Content/LandingPageLotte/assets/js/lodash.min.js"></script>
    <script src="~/Content/LandingPageLotte/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/LandingPageLotte/assets/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/LandingPageLotte/assets/js/main.js"></script>
    <script src="~/Scripts/home/landingpage.js"></script>
    <script src="/Content/LotteryCarcoin/assets/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
</body>

</html>
