﻿<div class="footer">
    <div class="content">
        <div class="row">
            <div class="col-sm-6 col-12 pr-50">
                <h3 class="hel-bold">CONTACT US</h3>
                <p class="text-contact">
                    CSC JACKPOT belongs to Tech Sharing Community LTD., Iltershore Chambers, Road Town, Tortol4 British Virgin Islands number 1975675
                </p>
                @*<div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-default btn-sm">Send</button>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-sm-6 col-12 pl-50">
                <ul class="menu-footer">
                    <li><a href="aboutus">About us</a></li>
                    <li><a href="termofuse">Terms of use</a></li>
                    <li><a href="policy">Privacy Policy</a></li>
                    <li><a target="_blank" href="~/Content/LandingPageLotte/assets/docs/pressrelease.pdf">News</a></li>
                    <li><a href="faq">FAQs</a></li>
                    <li><a target="_blank" href="~/Content/LandingPageLotte/assets/docs/WhitepaperCSC.pdf">Whitepaper</a></li>
                </ul>
                <p class="copy-right">Copyright © 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
