﻿<div id="menu-right">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/aboutus">About us</a>
        </li>
        <li>
            <a href="/howtoplay">How to play</a>
        </li>
        <li>
            <a href="/faq">FAQs</a>
        </li>
        <li>
            <a target="_blank" href="~/Content/LandingPageLotte/assets/docs/pressrelease.pdf">News & Events</a>
        </li>
        <li>
            <a href="/contactus">Contact us</a>
        </li>
        <li>
            <a target="_blank" href="~/Content/LandingPageLotte/assets/docs/WhitepaperCSC.pdf">Whitepaper</a>
        </li>
    </ul>
</div>
