﻿@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}

<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right header-w">
        <div class="content-w">
            <div class="content">
                <h2 class="hel-bold c-grey mb-0">TERM OF USE</h2>
                <h3 class="c-grey-light">and notifications of CSC Jackpot</h3>

                <div class="">
                    <h4>Account terms</h4>
                    <p><span>1. </span>This agreement is last modified on  29th Jun 2018.</p>
                    <p><span>2. </span>These Terms and Conditions ("T&Cs" or "Agreement") constitute and govern the contractual relationship between the parties, Tech Sharing Community LTD hereinafter referred to as "CSC Jackpot" or "We", "Us"; or "Our"; and You, as the user and customer, hereinafter referred to as "User" or "You" or "Yours".</p>
                    <p><span>3. </span>Please read these terms and services completely using our games which is owned and operated by Tech Sharing Community LTD. This Agreement documents the legally binding terms and conditions attached to the use of the site at www.cscjackpot.com .</p>
                    <p><span>4. </span>By using or accessing the Site in any way, viewing or browsing the Site, or playing game on this website, you are agreeing to be bound by these Terms of Services</p>
                    <p><span>5. </span>Tech Sharing Community LTD may amend and/or assign this Agreement or any rights and/or obligations from time to time. The Terms and Conditions and the Privacy Policy are published on the Website and may be changed at any time. The new version of these Terms and Conditions will take effect immediately upon the next visit or login on the Website. By continuing to use the Website, the Services or the software offered by Tech Sharing Community, the User agrees to be bound by the T&Cs as well as by the latest modifications to it. If the User does not agree to be bound by the changes to these T&C's, the User must not use or access Our Services, and inform Us in writing immediately. In order to avoid misunderstandings and disputes at a later stage, Users can print out these T&C's. Tech Sharing Community LTD may publish these General Terms and Conditions in a number of languages and shall reflect the same principles. This is done for information purposes and to help Users. It is however the English version that constitutes the legal basis of the relationship between You and Tech Sharing Community. Should there be any discrepancy between the T&Cs in the English version and the version in any other language, the English version shall prevail.</p>
                    <p><span>6. </span>These General Terms and Conditions enter into force when you register and confirm Your registration details in the registration process on the Website. By registering an account with the Website You agree that you have read and understood these Terms and Conditions. By using the Website you signify that you have accepted and agreed to the contents contained therein. You must read and understand these Terms and Conditions fully before registering an account with Us. Should You not agree with any part of this Agreement, You must not use or continue to use the Website.</p>
                    <p><span>7. </span>Tech Sharing Community LTD reserves the right to refuse and/or cancel Services at its own discretion where the Services are illegal to use.</p>
                    <hr class="xl" />
                    <h4>Eligible users</h4>
                    <p><span>8. </span>Applied to those countries where online gambling is acceptable by law. It is also the user’s responsibility to inquire about the existing gambling laws of the given jurisdiction before playing game on the website</p>
                    <p><span>9. </span>Applied to users whose nationalities includes every country except America, but not limited to American Samoa, Guam, Marshall Islands, North Mariana Islands, Puerto Rico, and the Virgin Islands, Cuba, Iran, China, Hong Kong, Macau, Sudan, North Korea, United Kingdom, Syria, France or Spain.</p>
                    <p><span>10. </span>The age of the users is over 18 years old. User is required to provide proof of age and to refuse a User's admission to the Service if it has reasons to believe that the minimum age requirement is not fulfilled</p>
                    <p><span>11. </span>The services are only used by individuals, who might enter into legally binding contracts under the law applicable to their country of domicile.</p>
                    <hr class="xl" />
                    <h4>Registration, KYC and account</h4>
                    <p><span>12. </span>In order to play game on the website, the user must complete the registration form and open a User account (‘’Account’’) on the Website. The User is required to fill in the following details:</p>
                    <div class="ml-20">
                        <p><span>a) </span><strong>The user’s valid email address and if available.</strong></p>
                        <p><span>b) </span><strong>Password- The user is required to choose a strong, highly confidential, and non-predictable password.</strong></p>
                    </div>
                    <p><span>13. </span>With the use of an account on www.cscjackpot.com, website the user ensures at least the following:</p>
                    <div class="ml-20">
                        <p><span>a) </span>The user has completed the registration form correctly.</p>
                        <p><span>b) </span>The user is not under 18 years old.</p>
                        <p><span>c) </span>The User is neither under legal supervision nor restricted in his business activities.</p>
                        <p><span>d) </span>The User has registered personally on his/her behalf and not on the behalf of someone else. After the registration, user receive the emails. Please click on the link to activate the account. If you are registered, you will be rewarded one free ticket. </p>
                        <p><span>e) </span>The User uses the account for personal use and has no commercial intentions.</p>
                        <p><span>f) </span>The User has no knowledge about any bet result of the underlying bet before placing it.</p>
                        <p><span>g) </span>The User does not have multiple accounts on  www.cscjackpot.com Website.</p>
                        <p><span>h) </span>The User has read and accepts these General Terms and Conditions.</p>
                    </div>
                    <p><span>14. </span>We accept only one account per person. The use of more than one account per physical User is strictly forbidden. We retain the right to close a User's account at any time and to cancel all the transactions pertaining to any User that has registered more than one account in his own name or under different names, in the event that We have reasonable suspicion that the User has registered multiple accounts. It makes no difference whether the accounts have been used with the intent of defrauding or cheating, or otherwise.</p>
                    <p><span>15. </span>It is prohibited for Users to sell, pledge, transfer and/or acquire accounts to/from other Users. Funds can only be remitted to the same account from where they originated at the deposit stage.</p>
                    <p><span>16. </span>Tech Sharing Community LTD accepts only natural persons with a single account as a User. Neither a legal entity nor corporate body is allowed to open or to have an account on www.cscjackpot.com  Website.</p>
                    <p><span>17. </span>We will treat as highly confidential the information the User entrusts to us, in accordance with the disclosures we provide during the registration process and in accordance with our Privacy Policy.</p>
                    <p><span>18. </span>The User shall not treat Tech Sharing Community LTD. as a financial institution nor expect interest on his/her deposit/s.</p>
                    <p><span>19. </span>Any amount credited erroneously to a User's Account should be reported immediately to Tech Sharing Community LTD by the User. Any winnings and funds caused by an error are invalid regardless of how they occurred.</p>
                    <p><span>20. </span>In the event of misconduct by a User, Tech Sharing Community LTD is entitled to immediately terminate the Agreement with the User and exclude him from further use of the Website. Further, we are entitled to interrupt and terminate on-going activities, to block the User or the User's Account with or without prior notice and to retain the User's credit and winnings achieved through misconduct until clarification of the situation.</p>
                    <p><span>21. </span>Any indication of fraud, manipulation, cash-back arbitrage, or other forms of deceitful or fraudulent activity which was the basis of a provision of a bonus or otherwise will render the Account inactive along with any and all profits or losses gathered.</p>
                    <h4>Fees and Taxes</h4>
                    <p><span>22. </span>The User is fully responsible for paying all fees and taxes applied to their winnings according to the laws of the jurisdiction of User’s residence.</p>
                    <p><span>23. </span>In countries where the report of winnings and losses is legally prescribed by legal authority or financial institution, the User is responsible for reporting his/her winnings and losses such authorities.</p>
                    <h4>Game Rules and conditions specific to lottery games</h4>
                    <p><span>24. </span><strong>In order to place a bet with an account on www.cscjackpot.com, the User must to purchase Bitcoin</strong> in the System with a range of functionalities programmed via blockchain technologies which nobody controls and therefore everyone can trust.</p>
                    <p><span>25. </span>The User confirms that he/ she knows and understands the rules of games offered by the www.cscjackpot.com   Website. It is at User’s discretion to know the payout percentage of each game.</p>
                    <p><span>26. </span>You hereby agree that Tech Sharing Community LTD. as the operator of www.cscjackpot.com  is placing Game Bets on your behalf.</p>
                    <p><span>27. </span>The User affects an instruction to the Tech Sharing Community LTD as the operator of www.cscjackpot.com and bookmaker to place a bet on the outcome of a CSC Jackpot games event with a determinable outcome (hereinafter "Game Bet") on their behalf by filling out and submitting the electronic ticket displayed on the Website the compilation of which allows User to place bets on a of CSC Jackpot games of his choice on the www. Website. To settle the Game Bet amount, the User may either use funds available in his User Account or pay for the Game Bet/s by using alternative payment method.</p>
                    <p><span>28. </span>Once any Game Bet has been submitted, it cannot be altered or cancelled.</p>
                    <p><span>29. </span>Winnings on any Game Bet shall be credited to the User Account and the User is able to view any such Winnings on their User Account on the Website. In addition, the Tech Sharing Community LTD. may decide, but is not obliged, to inform the User with respect to Winnings by email, or other ways of communication. <strong> Payout fee for award (the fee for winners to claim the prize and services for company): Jackpot: 5%; First prize: 4%; Second prize: 3%; Third prize : 2%.</strong> </p>
                    <p><strong>In the case of winning, each of user is enable to withdraw 1 BTC/1 transaction/day, and all of users’ orders are executed at 09 a.m (UTC timezone).</strong></p>
                    <p><span>30. </span>Following the creation of Ticket by the Service, the Tickets will be used to User`s participation in the CSC Jackpot's games. The User understands that the User must keep his password safe and that the User may not share them with anybody.</p>
                    <p><span>31. </span>Every payment for purchasing ticket in CSC Jackpot game is distributed by the System according to the following proportion:<strong> Reward Fee for all prizes: 60%; Commission for agents: 20%; Affiliate program: 2%; Marketing budget: 8%; Operation: 10% </strong></p>
                    <p><span>32. </span>Every day the Service raffles a draw among Users that bought tickets in this day. A Ticket wins when numbers of the ticket match numbers of the winning set according to the table set forth. Winning set for free tickets specified with table set forth below.</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Prize categories</th>
                                <th>Approximate Odds of Winning</th>
                                <th>Prize (BTC)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jackpot <span>(5 white balls + 1 carball)</span> </td>
                                <td>10,363,626</td>
                                <td>a minimum of 10 btc</td>
                            </tr>
                            <tr>
                                <td>First prize <span>(5 white balls)</span> </td>
                                <td>543,770</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Second prize <span>(4 white balls + 1 carball)</span> </td>
                                <td>60,962</td>
                                <td>0.5</td>
                            </tr>
                            <tr>
                                <td>Third prize <span>(4 white balls)</span> </td>
                                <td>3,586</td>
                                <td>0.02</td>
                            </tr>
                            <tr>
                                <td>Fifth prize <span>(3 white balls)</span> </td>
                                <td>118</td>
                                <td>0.001</td>
                            </tr>
                            <tr>
                                <td>Sixth prize <span>(2 white balls + 1 carball)</span> </td>
                                <td>173</td>
                                <td>0.0008</td>
                            </tr>
                            <tr>
                                <td>Seventh prize <span>(1 white balls + 1 carball)</span> </td>
                                <td>44</td>
                                <td>0.0005</td>
                            </tr>
                            <tr>
                                <td>Eighth prize <span>(1 carball)</span> </td>
                                <td>37</td>
                                <td>0.0004</td>
                            </tr>
                            <tr>
                                <td>Ninth  prize <span>(2 white balls)</span> </td>
                                <td>10</td>
                                <td>0.0002</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span>33. </span>The process of determination of the winning is published on GitHub which is a development platform that provides hosting and reviewing code, managing projects, and building software alongside millions of other developers. The CSC Jackpot account is available at https://github.com/cscjackpot/ </p>
                    <h4>Disclaimer of Liability</h4>
                    <p><span>34. </span>The User is aware of the fact that gambling at the website may lead to losing money. The Company is not liable for any possible financial damage arising from the use of the website.</p>
                    <p><span>35. </span>The Company is taking effective measures to protect User’s private data from any unauthorized use and is only making it available to parties involved in providing of gambling services through the website. Notwithstanding this, the Company is not responsible for how the information is further treated by third parties, for example third party software providers or affiliates. Treatment of User’s private data by such parties is subject to terms and conditions of these parties, if any.</p>
                    <p><span>36. </span>Tech Sharing Community LTD is in no way responsible for any access to a User's account by a third person and will not be held responsible for any loss suffered due to the illicit use of a User's password by a third person, of unauthorized access, and/or for any transaction in which the name and password of a User was registered correctly.</p>
                    <p><span>37. </span>The Company is not liable of any hardware or software, defects, unstable or lost Internet connections, or any other technical errors that may limit User’s access to the website or prevent User from an uninterrupted play.</p>
                    <p><span>38. </span>Some circumstances may arise where a wager is confirmed, or a payment is performed, by us in error. In all these cases the Tech Sharing Community LTD reserves the right to cancel all the wagers accepted containing such an error, or to correct the mistake made re-settling all the wagers at the correct prices/spreads/terms that should have been available at the time that the wager was placed in the absence of the error.</p>
                    <p><span>39. </span>If we mistakenly credit your Account with winnings that do not belong to you, whether due to a technical, error in the pay-tables, or human error or otherwise, the amount will remain our property and will be deducted from your Account. If you have withdrawn funds that do not belong to you prior to us becoming aware of the error, the mistakenly paid amount will (without prejudice to other remedies and actions that may be available at law) constitute a debt owed by you to us. In the event of an incorrect crediting, you are obliged to notify us immediately by email.</p>
                    <p><span>40. </span>Tech Sharing Community LTD its directors, employees, partners, service providers:</p>
                    <div class="ml-20">
                        <p><span>a) </span>do not warrant that the software or the Website is/are fit for their purpose;</p>
                        <p><span>b) </span>do not warrant that the software and Website are free from errors;</p>
                        <p><span>c) </span>do not warrant that the Website and/or Games will be accessible without interruptions;</p>
                        <p><span>d) </span>shall not be liable for any loss, costs, expenses or damages, whether direct, indirect, special, consequential, incidental or otherwise, arising in relation to Your use of the Website or Your participation in the Games.</p>
                    </div>
                    <p><span>41. </span>You hereby agree to fully indemnify and hold harmless theTech Sharing Community, its directors, employees, partners, and service providers for any cost, expense, loss, damages, claims and liabilities howsoever caused that may arise in relation to your use of the Website or participation in the Games.</p>
                    <p><span>42. </span>You acknowledge that the Tech Sharing Community LTD. shall be the final decision-maker of whether you have violated the Tech Sharing Community LTD’s rules, terms or conditions in a manner that results in your suspension or permanent barring from participation in our site.</p>
                    <p><span>43. </span>The website can only be used for personal purposes and shall not be used for any type of commercial profit.</p>
                    <h4>Use of User’s Account</h4>
                    <p><span>44. </span>Each User <strong> can create only one personal user account with one IP address or each device.</strong> Creating multiple user accounts by a User can lead to termination of the accounts. The User shall not provide access to his user account or allow using the website to any third party including but not limited to minors.</p>
                    <p><span>45. </span>Also any returns, winnings or bonuses which you have gained or accrued during such time as the Duplicate Account was active will be forfeited by you and may be reclaimed by us, and you will return to us on demand any such funds which have been withdrawn from the Duplicate Account.</p>
                    <p><span>46. </span>The website can only be used for personal purposes and shall not be used for any type of commercial profit.</p>
                    <h4>Responsible Gaming</h4>
                    <p><span>47. </span>CSC Jackpot wants to ensure that its Users gamble in a responsible manner, but We also acknowledge that gambling can be addictive to some and affect their lives negatively. Since We care for Our Users, and want online gaming to be an enjoyable experience, We offer various measures which can be taken by a User to gamble in a responsible manner.</p>
                    <p><span>48. </span>For those customers who wish to restrict their gambling, we provide voluntary self-exclusion tools, which enable you to close your account or restrict your ability to place bets. If you require any information relating to this facility please contact Customer service <strong> support@cscjackpot.com</strong>.We will endeavor to implement your request within a reasonable time period and to ensure compliance with your self-exclusion. However you accept that we have no responsibility or liability whatsoever if you continue gambling before your request has been implemented or you seek to use the Website and we fail to recognize or determine that. You acknowledge that exclusion and limits are set per account, and should you have accounts on more than one site owned by us, you must set the limits on each account.</p>
                    <h4>Anti-Fraud Policy</h4>
                    <p><span>49. </span>The Company has a strict anti-fraud policy. If the User is suspected of fraudulent actions including, but not limited to:</p>
                    <div class="ml-20">
                        <p><span>a) </span>participating in any type of collusion with other Users;</p>
                        <p><span>b) </span>development of strategies aimed at gaining of unfair winnings;</p>
                        <p><span>c) </span>fraudulent actions against other online Tech Sharing Community LTD or payment providers;</p>
                        <p><span>d) </span>charge back transactions;</p>
                        <p><span>e) </span>creating two or more accounts;</p>
                        <p><span>f) </span>other types of cheating;</p>
                        <p>
                            <span>g) </span>or become a bankrupt in the country of his/her residence, the Company reserves the right to terminate the user account and suspend all payouts to the User. This decision is at sole discretion of the Company and the User will not be notified or informed about the reasons of such actions. The Company also reserves the right to inform the regulatory bodies of such fraudulent actions performed by the User.
                        </p>
                    </div>
                    <h4>Depositing</h4>
                    <p><span>50. </span>CSC Jackpot accepts BTC as a payment methods offers a variety of payment methods.<strong> Please contact our support team at support@cscjackpot.com to inquire about the payment methods which are most favorable for your country of residence. </strong></p>
                    <p><span>51. </span><strong>There is a 0.0005 BTC fee for any transaction that is due to blockchain fees and transaction fees inside CSC Jackpot platform.</strong></p>
                    <p><span>52. </span>The Company reserves the right to check User’s identity prior to processing payouts and to hold withdrawals for the time needed to check the User’s identity. In case of false personal data provided by the Users, the withdrawal can be refused and the user account can be terminated. The User will be informed thereof by email.</p>
                    <p><span>53. </span>The website supports payouts in BTC</p>
                    <p><span>54. </span>Cryptocurrency withdrawals will be made to Your cryptocurrency wallet submitted at your account. In case that you are already paid the Bitcoin for playing, you are not allowed to refund this amount of Bitcoin.</p>
                    <p><span>55. </span>Users using no deposit bonuses for the game cannot participate in promotions and Tech Sharing Community LTD. tournaments.</p>
                    <h4>Dormant Accounts</h4>
                    <p><span>56. </span>A Dormant Account is a User Account which a User has not logged into or logged out of for twelve consecutive months. If your User Account is deemed to be inactive, the Tech Sharing Community LTD. reserves the right to charge a monthly administrative fee equivalent to in cryptocurrency or the equivalent in another currency (or the current balance of your User Account, if less) as long as the balance of your User Account remains positive.</p>
                    <p><span>57. </span>You authorize the Tech Sharing Community LTD. to debit this fee from your User Account on the beginning of the month following the day on which your User Account is deemed inactive, and on the beginning of every subsequent month that your User Account remains inactive. The Tech Sharing Community LTD. will stop deducting the fee if the account balance is zero or if the account is re-activated.</p>
                    <h4>Affiliate program</h4>
                    <p><span>58. </span>For the purpose of attracting new Users the Service introduces Affiliate program (hereinafter the "Program") . Affiliate marketing is type of performance-based-marketing in which business rewards one or more affiliates for each visitor or customer brought by the affiliate ‘s own marketing effort . The affiliate program allows you to recommend other users to earn much commission. The more of users you recommend, the more commission for you. <strong>After successfully registering as an user of CSC Jackpot, you will be provided a referral link for sending to other users. Both you and your recommended users are also received one free ticket. Please note that you are compulsory to play once time, then you will be enable to send the referral link to another user, and receive more free tickets.</strong></p>
                    <p><span>59. </span>To be eligible to participate in the Referral Program as a referrer, a User must be registered on the CSC Jackpot Website and confirm his email. Under the Program, the System provides a User with a unique referral link that can be distributed to other individuals to become Referred Users. Referrers are provided with a personal "Refer-a-Friend" page (<strong>https://cscjackpot.com/profile/referral</strong>) to check the status of his/her Referrals and to manage his/her free ticket.</p>
                    <p><span>60. </span>In order for a new User to be registered as a Referred player in the System, he must visit the Website using a referral link and create an account in the next 72 hours. Cookies must be enabled on the computer of a new User.</p>
                    <p><span>61. </span>After a Referred User creates an account on the Website and confirms his email, the Referred User get a free ticket. <strong>Rules of using free tickets are set forth on the Website. The two percent (2%) of company revenue is for free tickets.</strong></p>
                    <p><span>62. </span>All Referral Program remunerations are added automatically to the User’s account and can be used at his discretion in accordance with present Terms and Conditions.</p>
                    <p><span>63. </span>When distributing, promoting or communicating their Referral Code(s) the Registered Users must agree to the following restrictions:</p>
                    <div class="ml-20">
                        <p><span>a) </span>No spamming. The Registered Users agree that they will not "spam" anyone with invitations to join the CSC Jackpot System, and that at all times they will remain compliant with all applicable laws. The following specific activities are prohibited:</p>
                        <div class="ml-20">
                            <p><span>a. </span>Mass emailing, or messaging people they do not personally know;</p>
                            <p><span>b. </span>Use of automated systems or bots through any channel to distribute, post or respond to their Referral Code;</p>
                            <p><span>c. </span>Use of scripts, programed or automatic dialers to send invites or to communicate Referral Codes;</p>
                            <p><span>d. </span>Posting referral codes on event or venue pages without express permission from the owner.</p>
                        </div>
                        <p><span>b) </span>No misrepresentations.The Registered Users agree they you will not attempt to mislead anyone in connection with the Referral Program, either by affirmative representation, implication, or omission. In particular, they agree that they will not:</p>
                        <div class="ml-20">
                            <p><span>a. </span>Impersonate any person or entity;</p>
                            <p><span>b. </span>Create fake accounts, blogs, webpages, profiles, websites, links or messages;</p>
                            <p><span>c. </span>Misrepresent their relationship with CSC Jackpot or any other third party;</p>
                            <p><span>d. </span>Suggest that an affiliation or partnership exists with a third party where none exists. Make misrepresentations with respect to the characteristics or qualification requirements for any referral rewards.</p>
                        </div>
                        <p><span>c) </span>No prohibited content. The Registered Users agree that they will not use the CSC Jackpot brand in connection with:</p>
                        <div class="ml-20">
                            <p><span>a. </span>Disparaging or defamatory content concerning CSC Jackpot or third parties;</p>
                            <p><span>b. </span>Content which promotes racism, bigotry, hatred, discrimination or physical harm of any kind against any group or individual;</p>
                            <p><span>c. </span>Offensive, abusive, intimidating or harassing content;</p>
                            <p><span>d. </span>Content that is sexually explicit, obscene and/or contains nudity;</p>
                            <p><span>e. </span>Any political and/or religious statement;</p>
                            <p><span>f. </span>Content containing images or reference to drugs, alcohol, tobacco, weapons or firearms; Content that violates someone else’s privacy.</p>
                        </div>
                        <p><span>d) </span>Other restrictions. The Registered Users also agree that they will not:</p>
                        <div class="ml-20">
                            <p><span>a. </span>Open accounts with their affiliate links and with a single IP address;</p>
                            <p><span>b. </span>Create websites, domains, URLs, social media handles or email addresses containing the word "CSC Jackpot";</p>
                            <p><span>c. </span>Engage in fraudulent activity. The Registered Users agree that they and their referrals will not defraud or abuse (or attempt to defraud or abuse) CSC Jackpot, the terms of the CSC Jackpot Referral Program, or any invited users.</p>
                        </div>
                    </div>
                    <p><span>64. </span>CSC Jackpot System reserves the right to disqualify any Player and/or cancel any Reward(s) it finds to be violating these Terms and Conditions. Referrals generated by a script, macro or other automated means will be disqualified.</p>
                    <h4>Complaints</h4>
                    <p><span>65. </span>You may contact our support@cscjacpot.com customer service according to the instructions located at the Website to give us any complaints regarding our services.</p>
                    <p><span>66. </span>Complaints are handled in the support department and escalated in the organization of the Tech Sharing Community LTD. in the case that support personnel do not solve the case immediately. The User shall be informed about the state of the complaint to a reasonable level.</p>
                    <p><span>67. </span>If the dispute is not resolved on the Tech Sharing Community LTD. management level, you can contact any independent body, gaming authority or licensor listed on the this website.</p>
                    <p><span>68. </span>In the event of any dispute, you agree that the records of the server and blockchain shall act as the final authority in determining the outcome of any claim.</p>
                    <p><span>69. </span>You agree that in the unlikely event of a disagreement between the result that appears on your screen and the game server, the result that appears on the game server and in blockchain will prevail, and you acknowledge and agree that our records will be the final authority in determining the terms and circumstances of your participation in the relevant online gaming activity and the results of this participation.</p>
                    <p><span>70. </span>When we wish to contact you regarding such a dispute, we will do so by using any of Your contact details in your User account.</p>
                    <p><span>71. </span>The User waives the right to participate in a class action lawsuit or a class wide arbitration against any entity or individual involved with the creation of Tickets on CSC Jackpot Platform.</p>
                    <h4>Notification about risks</h4>
                    <p><span>72. </span>The User understands and accepts the risks in connection with transferring Bitcoins to the www.cscjackpot.com Platform and creating Ticket as exemplary set forth above and hereinafter. In particular, but not limited, the User understands the inherent risks listed hereinafter:</p>
                    <div class="ml-20">
                        <p><span>a) </span>Risk of software weaknesses: The User understands and accepts that the Blockchain System concept, the underlying software application and software platform is still in an early development stage and unproven, why there is no warranty that the process for creating tickets will be uninterrupted or error-free and why there is an inherent risk that the software could contain weaknesses, vulnerabilities or bugs causing, inter alia, the complete loss of Bitcoins.</p>
                        <p><span>b) </span>Regulatory risk: The User understands and accepts that the blockchain technology allows new forms of interaction and that it is possible that certain jurisdictions will apply existing regulations on, or introduce new regulations addressing blockchain technology based applications, which may be contrary to the current setup of the System and which may, inter alia, result in substantial modifications of the Service, including its termination and the loss of Bitcoins or tickets for the User.</p>
                        <p><span>c) </span>Risk of Loss of private key: Bitcoins in account wallet can only be accessed with a wallet seed or combination of private key and password. The private key is encrypted with a password. The User understands and accepts that if his wallet file or password respectively his private key got lost or stolen, the obtained Bitcoins associated with the User’s Wallet or password will be unrecoverable and will be permanently lost with the wallet seed.</p>
                        <p><span>d) </span>Risk of theft: The User understands and accepts that the Service concept, the underlying software application and software platform may be exposed to attacks by hackers or other individuals that that could result in theft or loss of bitcoins or tickets, impacting the ability to develop the Services </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>
