﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    @*<script type="text/javascript" src="/Content/js/jquery-1.11.3.js"></script>*@
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-dev.min.css" rel="stylesheet" />
    <link href="/Content/css/custom.css" rel="stylesheet">
    @*<link href="/Content/alertify.css" rel="stylesheet">*@
    <link href="~/Content/alertify/bootstrap-alertity.min.css" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.countdownTimer.css" />

    @*<script type="text/javascript" src="/Content/js/jquery-3.1.1.min.js"></script>*@



    <script type="text/javascript" src="/Content/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    @*<script type="text/javascript" src="/Content/js/mdb.min.js"></script>*@

    <script src="/Content/js/countdown.js"></script>
    <script src="/Content/js/slick.js"></script>
    <script src="/Content/js/moment.js"></script>
    <script src="/Content/js/jquery.fancybox.js"></script>
    <script src="/Content/js/jquery.mCustomScrollbar.js"></script>
    @*<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=renderGC"></script>*@
    @*<script src="/Content/js/custom.js"></script>*@


    <script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>
    @*<script src="/Content/js/jquery.countdownTimer.js"></script>*@
</head>
<body class="profile-page">
    <div class="main-wrapper positionFixed overflowScroll" style="width:100%;">
        @{Html.RenderAction("MenuNew", "Game");}
        <div class="content-wrapper fullHeight">
            @if (System.Web.HttpContext.Current.Session[BBH.Lotte.Shared.SessionKey.MEMBERINFOMATION] != null)
            {
                <header class="header header-profile-page scroll" style="padding-right:0; left:0;width:100%;">
                    <div id="divCountDownMenu" class="style colorDefinition size_sm headerCountDown">24:00:00</div>

                    <div class="menu-btn js-menu-profile-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="lang-list js-lang-list ul-header-left">
                        <li>
                            <span class="menu-logo-wrap" onclick="window.location.href='/'"></span>
                        </li>
                        <li class="dropdown dropdown-toggle dropdown-ripple" style="width:auto;" onclick="loadWalletPoints($(this),event);">
                            <label id="lblPoint">@(BBH.Lotte.Shared.RDUser.Points)&nbsp;&nbsp;Point</label>
                            <ul class="dropdown-menu" aria-labelledby="dropdown__balance">
                                <li class="visible-xs">Balance: <strong style="color:#f6b559"><span id="dropPointID">@(BBH.Lotte.Shared.RDUser.Points)</span>&nbsp;Point&nbsp;~&nbsp;<span id="spTicketID">@(BBH.Lotte.Shared.RDUser.NumberTickets)</span>&nbsp;tickets</strong></li>
                                <li class="divider visible-xs"></li>
                                <li>
                                    <b>Refill balance:</b>
                                    <div>XRP: <a class="div_a" id="idXRP" data-cp="@(BBH.Lotte.Shared.RDUser.RippleAddress)" title="@(BBH.Lotte.Shared.RDUser.RippleAddress)">@(BBH.Lotte.Shared.RDUser.RippleAddress)</a></div>
                                    <a href="/wallets-history" class="btn btn-block padding_a">My transactions history</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @*<div id="divCountDownMenu" class="style colorDefinition size_sm">24:00:00</div>*@
                    @*<ul class="js-lang-list headerCountDown">
                            <li>
                                <div id="divCountDownMenu" class="style colorDefinition size_sm">24:00:00</div>
                            </li>
                        </ul>*@


                    <ul class="lang-list js-lang-list ul-profile" style="float:right;">
                        <li class="dropdown dropdown-toggle dropdown-ripple loginedin btn-username" onclick="ShowProfile(this)">
                            <label id="lblPoint" class="btn-profile" title="@(BBH.Lotte.Shared.RDUser.Email)"><i class="fa fa-user" style="color: #27a2db;"></i>&nbsp;@(BBH.Lotte.Shared.RDUser.Email)</label>
                            <ul class="dropdown-menu dropdown-info" aria-labelledby="dropdown__balance">
                                <li class="visible-xs">
                                    <i class="fa fa-money" aria-hidden="true"></i>&nbsp;Point: <strong title="@(BBH.Lotte.Shared.RDUser.Points + " ~ " + BBH.Lotte.Shared.RDUser.NumberTickets + " tickets")" id="strInfoPoint"><span id="pointID">@BBH.Lotte.Shared.RDUser.Points</span>&nbsp;~&nbsp;<span id="spanTicketID">@BBH.Lotte.Shared.RDUser.NumberTickets</span>&nbsp;tickets</strong>
                                </li>
                                <li class="divider visible-xs"></li>
                                <li>
                                    <a href="/tickets-history" data-id="tickets-history" class="usermenu__link"><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Ticket History</a>
                                </li>
                                @*<li>
                                        <a href="/points-history" data-id="points-history" class="usermenu__link"><i class="icon-reward-points" aria-hidden="true"></i>&nbsp;Points History</a>
                                    </li>*@
                                @*<li>
                                    <a href="/wallets-history" data-id="wallets-history" class="usermenu__link"><i class="icon-wallets" aria-hidden="true"></i>&nbsp;Wallet History</a>
                                </li>*@
                                <li>
                                    <a href="/bitcoin-wallets-history" data-id="bitcoin-wallets-history" class="usermenu__link"><i class="icon-wallets" aria-hidden="true"></i>&nbsp;Bitcoin Wallet History</a>
                                </li>
                                <li>
                                    <a href="/carcoin-wallets-history" data-id="carcoin-wallets-history" class="usermenu__link"><i class="icon-wallets" aria-hidden="true"></i>&nbsp;Carcoin Wallet History</a>
                                </li>
                                <li>
                                    <a href="/change-password" data-id="change-password" class="usermenu__link" data-toggle="modal" data-target="#standardModal1"><i class="icon-change-password" aria-hidden="true"></i>&nbsp;Change Password</a>
                                </li>
                                <li>
                                    <a href="/logout" class="usermenu__link" data-toggle="modal" data-target="#standardModal1"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </header>
            }
            else
            {
                <header class="header header-profile-page scroll" style="padding-right:0; left:0;width:100%;">
                    <div id="divCountDownMenu" class="style colorDefinition size_sm headerCountDown">24:00:00</div>
                    @*<div class="menu-logo-wrap" style="cursor:pointer;margin-bottom:0;height:100%;width:274px;margin-left:13px;margin-right:13px;" onclick="window.location.href='/'"></div>*@

                    <ul class="lang-list js-lang-list ul-header-left">
                        <li>
                            <span class="menu-logo-wrap" onclick="window.location.href='/'"></span>
                        </li>

                        <li class="dropdown dropdown-toggle dropdown-ripple" style="width:auto;" onclick="showDropDownMenu($(this));">
                            <label id="lblPoint">@(BBH.Lotte.Shared.RDUser.Points)&nbsp;&nbsp;Point</label>
                            <ul class="dropdown-menu" aria-labelledby="dropdown__balance">
                                <li class="visible-xs">Balance: <strong style="color:#f6b559"><span id="dropPointID">@(BBH.Lotte.Shared.RDUser.Points)</span>&nbsp;Point&nbsp;~&nbsp;<span id="spTicketID">@(BBH.Lotte.Shared.RDUser.NumberTickets)</span>&nbsp;tickets</strong></li>
                                <li class="divider visible-xs"></li>
                                <li>
                                    <b>Refill balance:</b>
                                    <div>XRP: <a class="div_a" id="idXRP" data-cp="@(BBH.Lotte.Shared.RDUser.RippleAddress)" title="@(BBH.Lotte.Shared.RDUser.RippleAddress)">@(BBH.Lotte.Shared.RDUser.RippleAddress)</a></div>
                                    <a href="/wallets-history" class="btn btn-block padding_a">My transactions history</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="lang-list js-lang-list ul-profile" style="float:right;">
                        <li class="dropdown dropdown-ripple not-login" style="width:auto;float:right;" onclick="goToLogin();"><i class="fa fa-sign-in" style="color: #27a2db;" aria-hidden="true"></i>&nbsp;Login</li>
                        <li class="dropdown ropdown-ripple not-login" style="width:auto;float:right;" onclick="goToSignup();"><i class="fa fa-user-plus" style="color: #27a2db;" aria-hidden="true"></i>&nbsp;Sign up</li>
                    </ul>
                </header>

            }
            @RenderBody()
            <!--FOOTER EOF-->
            @{Html.RenderAction("Footer_Game", "Game");}
        </div>
    </div>
    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="/Content/img/loading.gif" id="imgLoading">
    </div>
    @*@{Html.RenderAction("Footer_Game", "Game");}*@

    @*  *@
    <div id="divLotteryResult" class="modal-content __web-inspector-hide-shortcut__" style="display:none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseLotteryResult()"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-title text-center modal-title_line modal-title_sm">Result Numbers</div>
        <div class="modal-7__cont" style="margin:auto;">
            <div class="text-bold modal-text">
                <div class="about-lottery" style="padding:0!important;">
                    <ul class="lottery-result" id="show_lottery_results"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="standardModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->

            <div class="modal-content">
                <!--Header-->
                <div class="modal-header white-text" style="background-color: #154771">
                    <p class="heading" contenteditable="true">Change Password</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form>
                        <!--First row-->
                        <div class="row" style="padding:0px; margin:0px">

                            <div class="col-md-12">
                                <label id="lbEwallet">New Password</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(1)" id="txtNewPass" name="txtNewPass" class="form-control validate">

                                </div>
                                <label style="color:red" id="lbPassword"></label>
                            </div>

                        </div>

                        <div class="row" style="padding:0px; margin:0px">

                            <div class="col-md-12">
                                <label id="lbEwallet">Confirm New Password</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(2)" id="txtRePass" name="txtRePass" class="form-control validate">

                                </div>
                                <label style="color:red" id="lbRePass"></label>
                            </div>

                        </div>


                        <div class="row">
                            <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                            <div class="col-md-12 text-center">
                                <input type="button" style="padding:5px 30px; cursor:pointer; height:35px" onclick="ChangePassWord()" value="Confirm" class="btn-primary">
                            </div>
                        </div>

                    </form>

                    <br>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <img id="imgLoadingBooking" src="/Images/loading.gif" style="display:none">
                    <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Close</a>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <a href="javascript:void(0)" id="goTop" class="gotoppage"><i class="fa fa-angle-double-up"></i></a>
    <input type="hidden" id="hdLanguage" value="@Session["Language"]" />
    <script src="~/Content/alertify/alertify.js"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script src="/Scripts/member/member.js"></script>

    <script type="text/javascript">
        var maxItemNotification = '@(System.Configuration.ConfigurationManager.AppSettings["maxItemNotification"])';

        var curenturl = $(location).attr('pathname');
        var curenturlmainmenu = "";

        if (curenturl != "") {
            curenturlmainmenu = curenturl.split('/')[1];
        }

        //Active menu root item
        if (curenturlmainmenu == "") {
            $('.menu-in-wrap .navigation ul > li a[href="/"]').addClass('active');
        }
        else {
            $('.menu-in-wrap .navigation ul > li a[data-id="' + curenturlmainmenu + '"]').addClass('active');
            $('.menu-in-wrap .navigation ul > li a[data-id="' + curenturlmainmenu + '"] i.fa.fa-caret-right').removeClass('hide');
            $('.menu-in-wrap .navigation ul > li a[data-id="' + curenturlmainmenu + '"] i.fa.fa-caret-right').addClass('show');

            //menu in header profile (ticker-history,...)
            $('.dropdown-info li a.usermenu__link[data-id="' + curenturlmainmenu + '"]').addClass('active');
        }

        $(document).ready(function () {
            $('#mCSB_1_scrollbar_vertical').remove();


            var lang = $('#hdLanguage').val();
            if (lang == 'EN') {
                $('#li_VN').css("background-color", "");
                $('#li_EN').css("background-color", "#ccc");
            }
            else {
                $('#li_VN').css("background-color", "#ccc");
                $('#li_EN').css("background-color", "");
            }

            //test();
        });

        ///Created date: 12.01.2018
        ///Description: click outside
        $(document).unbind().click(function (e) {
            e.stopPropagation();
            //Hide datetime when click outside
            var ele = $(e.toElement);
            if (!ele.hasClass("hasDatepicker") && !ele.hasClass("ui-datepicker") && !ele.hasClass("ui-icon") && !$(ele).parent().parents(".ui-datepicker").length) {
                if (typeof $(".hasDatepicker") != 'undefined' && $(".hasDatepicker").length > 0) {
                    $(".hasDatepicker").datepicker("hide");
                }
            }
        })

        function SetLanguage(language) {
            $.ajax({
                type: "post",
                async: true,
                url: "/Game/SelectLanguageUser",
                data: { language: language },
                success: function () {
                    window.location.reload();
                }
            });
        }

        function ShowProfile(_this) {
            if ($(_this).find('ul.dropdown-info').css('display') != 'none') {
                $(_this).find('ul.dropdown-info').hide();
            }
            else {
                $(_this).find('ul.dropdown-info').show();
            }
        }
    </script>

</body>
</html>
