﻿<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/LotteryCarcoin/assets/img/logo/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CSC Lottery Jackpot 2018 | CSCJackpot</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://beta.cscjackpot.com/Content/LotteryCarcoin/assets/img/logo/favicon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="CSC Lottery Jackpot 2018 | CSCJackpot" />
    <meta name="description" content="FREE TICKETS ARE LIMITED FOR REGISTRATION, REFERRAL" />
    <meta property="og:description" content="FREE TICKETS ARE LIMITED FOR REGISTRATION, REFERRAL" />

    <link rel="canonical" href="http://beta.cscjackpot.com/" />
    <meta property="og:url" content="http://beta.cscjackpot.com/">

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(101129118); } catch (e) { }</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101129118ns.gif" /></p></noscript>

    <!-- Bootstrap core CSS     -->
    <link href="/Content/LotteryCarcoin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  <link href="assets/alertify/bootstrap-alertity.css" rel="stylesheet" /> -->
    <link href="/Content/LotteryCarcoin/assets/alertify/alertify.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/Content/LotteryCarcoin/assets/css/material-dashboard.css?v=1.2.1" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/Content/LotteryCarcoin/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="/Content/LotteryCarcoin/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/LotteryCarcoin/assets/css/Nunito.css" rel="stylesheet">
    <link href="/Content/LotteryCarcoin/assets/css/material-icons.css" rel="stylesheet">
    <script src="/Content/LotteryCarcoin/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/common/common.js"></script>
    @*<script src="~/Scripts/jquery.urlshortener.min.js"></script>*@
    <script src="https://apis.google.com/js/api:client.js"></script>

</head>
<body class="sidebar-mini">
    <div class="wrapper">
        @{Html.RenderAction("MenuNew", "Game");}
        <div class="main-panel">
            <nav class="navbar navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="/">
                                <img src="~/Content/LotteryCarcoin/assets/img/logo/logo-jactpot.png" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @if (BBH.Lotte.Shared.RDUser.Email != null && BBH.Lotte.Shared.RDUser.Email != "" && BBH.Lotte.Shared.RDUser.Email.Length > 0)
                            {
                                if (BBH.Lotte.Shared.RDUser.IsEmptyPass())
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="material-icons">business</i>
                                            <span class="none-transform">
                                                <span id="spanNumberTicketsFree">@(BBH.Lotte.Shared.RDUser.NumberTicketsFree) </span> Free ticket
                                            </span>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu point">
                                            <li>Total tickets in day: <span id="spanAmountTicketFree">@(ViewBag.AmountTicketFree)</span>  tickets</li>
                                            <li>Introducing to be received <b>1 FREE TICKET</b></li>
                                            <li>
                                                <span>Link reference : <a class="address-xrp" id="link-reference" onclick="copyToClipboard('#link-reference')" href="#">@(BBH.Lotte.Shared.RDUser.LinkReference)</a></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="material-icons">account_balance_wallet</i>
                                            <span class="none-transform">
                                                <span id="spanNumberCoinBTC">@(BBH.Lotte.Shared.RDUser.BTCPoint.ToString("N8"))</span>  BTC
                                            </span>
                                            <b class="caret"></b>
                                        </a>

                                        <ul class="dropdown-menu point">
                                            <li>
                                                <span>Address BTC : <a class="address-xrp" id="address-btc" onclick="copyToClipboard('#address-btc')" href="#">@(BBH.Lotte.Shared.RDUser.BTCAddress)</a></span>
                                            </li>
                                            <li>
                                                <a href="/my-transaction" class="btn btn-warning">My transactions history</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                <li class="dropdown user">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="material-icons">person</i>
                                        <span class="user-ellipsis">
                                            @(BBH.Lotte.Shared.RDUser.Email)
                                        </span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu ">
                                        @if (BBH.Lotte.Shared.RDUser.IsEmptyPass())
                                        {
                                            <li>
                                                <a href="/tickets-history">
                                                    <span class="sidebar-normal"> Ticket History </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/tickets-winning-history">
                                                    <span class="sidebar-normal"> Ticket Winning History </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/my-transaction" data-id="bitcoin-wallets-history">
                                                    <span class="sidebar-normal">My Transaction</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/top-up">

                                                    <span class="sidebar-normal"> Top-up </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/with-drawal">
                                                    <span class="sidebar-normal"> Withdrawal </span>
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a href="/change-password">
                                                <span class="sidebar-normal"> Setting </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="get-free-ticket" data-toggle="modal" data-target="#input-mobile">
                                                <span class="sidebar-normal">Get a Free Ticket </span>
                                            </div>
                                        </li>
                                        @*<li>
                                                <a data-toggle="modal" data-target="#get-free-ticket" href="#">
                                                    <span class="sidebar-normal">Get Free Ticket </span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="/logout">
                                                <span class="sidebar-normal"> Logout </span>
                                                <i class="material-icons">exit_to_app</i>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <a data-toggle="modal" data-target="#registration-login" href="#">
                                        @*<a href="/login">
                                        *@
                                        <span class="sidebar-normal"> Sign In / Sign Up </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="heading-section">
                <h1 class="price-jackpot">Jackpot <span id="spanJackpot">0</span><span>BTC</span></h1>
                <h4 class="price-money">USD <span id="spanUSD">0</span></h4>
                <h2 class="time-countdown" id="divCountDownMenu"></h2>
                <p class="tag"> Till the next draw № @(BBH.Lotte.Shared.RDUser.RawNumber)</p>
            </div>
            @RenderBody()
        </div>
        <div class="modal fade" id="get-free-ticket" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Get Free Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Input Code to get free ticket</label>
                                <input type="text" onfocus="ResetForm('lbfreeticlet', this.value)" id="txtfreeticket" placeholder="Input code " class="form-control validate" />
                                <label id="lbfreeticlet" style="color:red; display:none" class=""></label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning btn-sm" onclick="GetFreeTicket()">Get Free Ticket</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @{Html.RenderAction("PopupInputMobile", "Member");}
        @* <div class="modal fade" id="input-mobile" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-md">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Input Mobile Get Free Ticket</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <form role="form">
                                        <div class="form-group" style="padding-bottom:0;">
                                            <label>Input Mobile</label><br />

                                        </div>
                                        <div class="form-group row no-gutters" style="padding-left: 0;margin-top: 0;padding-bottom:0;">
                                            <label style="color:red;margin-bottom: 0;height: 36px;padding: 5px 0px;width: 30px;" class="col-sm-3 col-xs-3">+84</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" onfocus="ResetForm('lbMobile', this.value)" id="txtMobile" placeholder=" 987656545" onkeypress="return onlyNumber(event)" class="form-control col-sm-2 validate" />

                                            </div>
                                            <label id="lbMobile" style="color:red; display:none" class=""></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning btn-sm" onclick="SentMobile()">Send</button>
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="modal fade" id="registration-login">
            <div class="modal-dialog ui-block window-popup registration-login-form-popup">
                <div class="registration-login-form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="tab" href="#login" role="tab">
                                <i class="material-icons">exit_to_app</i>
                                <p>Sign in</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#register" role="tab">
                                <i class="material-icons">power_settings_new</i>
                                <p>Sign up</p>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="login" role="tabpanel" data-mh="log-tab">
                            <div class="title h6">Login to your Account</div>
                            @{Html.RenderAction("_PartialViewLogin", "Member");}
                        </div>
                        <div class="tab-pane" id="register" role="tabpanel" data-mh="log-tab">
                            @{Html.RenderAction("_PartialViewRegister", "Member");}
                        </div>
                        <div class="tab-pane" id="recover" role="tabpanel" data-mh="log-tab">
                            @{Html.RenderAction("_PartialViewRecoverPassword", "Member");}
                        </div>
                        <div class="tab-pane" id="update-pass" role="tabpanel" data-mh="log-tab">
                            @{Html.RenderAction("_PartialUpdatePassword", "Member");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--pop up-->
        <div id="popupAlert" class="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span id="titleMesseage"></span>!</strong> <span id="messeage"></span>
        </div>
        <!--End popup-->
        <div id="loading" class="body-loader slidedown" style="">Please, wait...</div>
        <input type="hidden" id="hdPointBTC" value="@(BBH.Lotte.Shared.RDUser.BTCPoint)" />
        <input type="hidden" id="hdFreeTicketBTC" value="@(BBH.Lotte.Shared.RDUser.NumberTicketsFree)" />
        <input type="hidden" id="hdEmail" value="@Session[BBH.Lotte.Shared.SessionKey.EMAIL]" />
    </div>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'Clwq34fXhw'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    <footer class="layout-footer">
        <div class="row">
            <div class="col-md-3">
                <p class="heading">© CSC Jackpot Lottery, 2018</p>
                <p class="text-small">CSC JACKPOT belongs to Tech Sharing Community LTD., Iltershore Chambers, Road Town, Tortol4 British Virgin Islands number 1975675</p>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <ul>
                    <li><a href="/aboutus">About us</a></li>
                    @*<li><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy policy</a></li>*@
                    <li><a href="/howtoplay">How to play</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/contactus">Contact us</a></li>

                    @*<li><a href="http://cscjackpot.com/aboutus.html">About us</a></li>
        <li><a href="http://cscjackpot.com/howtoplay.html">How to play</a></li>
        <li><a href="http://cscjackpot.com/faq.html">FAQs</a></li>
        <li><a href="http://cscjackpot.com/contactus.html">Contact us</a></li>
        <li>
            <a title="Real Time Web Analytics" href="http://clicky.com/101129118"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
        </li>*@
                </ul>
            </div>
        </div>
    </footer>
    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="~/Content/LotteryCarcoin/assets/img/loading/loading.gif" id="imgLoading">
    </div>
    <script src="/Content/LotteryCarcoin/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/foundation.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/alertify/alertify.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/material.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/material-dashboard.js?v=1.2.1"></script>
    <script src="/Content/LotteryCarcoin/assets/js/demo.js"></script>
    <script src="/Content/LotteryCarcoin/assets/js/moment.min.js"></script>
    <script src="/Content/LotteryCarcoin/assets/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/Scripts/login/login.js"></script>
    <script src="/Scripts/member/member.js"></script>
    <script src="/Content/LotteryCarcoin/assets/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/LotteryCarcoin/assets/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).foundation();
            demo.initFormExtendedDatetimepickers();

            var current = location.pathname;
            $('.navbar-right .user .dropdown-menu li a').each(function () {
                var $this = $(this);
                var href = $this.attr('href');
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.parent().addClass('active');
                }
            });
        });


    </script>
    <script>
                var clientIDGoogle = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:GoogleSigned-in"])';
                var clientIDFace = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:FBSigned-in"])';
                var ApiKeyGoogleUrlShortener = '@(System.Configuration.ConfigurationManager.AppSettings["ClientID:GoolgeURLShortener"])';
                window.fbAsyncInit = function () {
                    FB.init({
                //appId: '140321719992768',
                appId: clientIDFace,
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };


        function RequestLoginFB() {
            window.location = 'http://graph.facebook.com/oauth/authorize?client_id=' + clientIDFace + '&scope=public_profile,email,user_likes&redirect_uri=http://lotterycarcoin.bigbrothers.gold/login?intIsLoginType=1';
        }
        var initialLoginGoogle = function () {
            gapi.load('auth2', function () {

                auth2 = gapi.auth2.init({
                    client_id: clientIDGoogle,
                    cookiepolicy: 'single_host_origin',
                });
                attachSignin(document.getElementById('btnLoginGoogle'));
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.81&appId=' + clientIDFace;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        var current_language = 'en';
        var maxItemNotification = 1;
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            alertify.success("Copied to clipboard!");
            checkMaxShowAlertNoti(maxItemNotification);
            $temp.remove();
        }
    </script>

    @*<script type="text/javascript">

        jQuery.urlShortener.settings.apiKey = 'AIzaSyDAuGqIWwJRbIDsQlyhkcmxRDXc-rrI6uo';
        $(document).ready(function () {
            var longUrlLink ='http://lotte.bbc.gold/';
                //jQuery.urlShortener({

                //    longUrl: longUrlLink,
                //    success: function (shortUrl) {
                //        alert(shortUrl);
                //    },
                //    error: function (err) {
                //        $("#shortUrlInfo").html(JSON.stringify(err));
                //    }
                //});

                $.ajax({
                    url: 'https://www.googleapis.com/urlshortener/v1/url?key={AIzaSyDBUFTFJXFD9GMCKPYJ7yg-IQp6-Qu5XNs}',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: '{ longUrl: "' + longUrlLink + '"}',
                    success: function (shortUrl) {
                        //$('#inputBox').val(response.id);
                        alert(response.id);
                    }
                });
            });
        </script>*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122335679-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-122335679-1');
    </script>

</body>
</html>
